<section style="display:grid;align-content:start;gap:3rem">

	{% set jsonapi = cms.api ~ "/export/collections/" ~ url.collection %}
	{% set csvapi = cms.api ~ "/export/collections/" ~ url.collection ~ "/csv" %}
	{% set zipapi = cms.api ~ "/export/collections/" ~ url.collection ~ "/zip" %}

	<div>
		<h3>{{ t('collection.export_json_title') }}</h3>
		<p>{{ t('collection.export_json_desc') }}</p>
		<p><a href="{{ jsonapi }}" class="dash-button" download target="_blank">{{ t('collection.export_json_btn') }}</a></p>
	</div>

	<div>
		<h3>{{ t('collection.export_csv_title') }}</h3>
		<p>{{ t('collection.export_csv_desc') }}</p>
		<p><a href="{{ csvapi }}" class="dash-button" download target="_blank">{{ t('collection.export_csv_btn') }}</a></p>
	</div>

	<div>
		<h3>{{ t('collection.export_zip_title') }}</h3>
		<p>{{ t('collection.export_zip_desc') }}</p>
		<p><a href="{{ zipapi }}" class="dash-button" download target="_blank">{{ t('collection.export_zip_btn') }}</a></p>
	</div>

</section>
