<section>
	{{ cms.form.factory(url.collection, {
		refresh : false,
		hidden  : false,
	}) }}
	<div style="margin-top:2rem">
		<h3>{{ t('collection.factory_title') }}</h3>
		<ul>
			<li><strong>{{ t('collection.factory_small') }}</strong> {{ t('collection.factory_small_desc') }}</li>
			<li><strong>{{ t('collection.factory_large') }}</strong> {{ t('collection.factory_large_desc') }}</li>
			<li><strong>{{ t('collection.factory_queue') }}</strong> {{ t('collection.factory_queue_desc') }}</li>
			<li><strong>{{ t('collection.factory_monitor') }}</strong> {{ t('collection.factory_monitor_desc') }}</li>
		</ul>
	</div>
	<p style="margin-top:2rem">{{ t('collection.factory_rules') }}</p>
	<p>{{ t('collection.factory_docs') }}</p>
</section>
