<section style="display:grid;align-content:start;gap:3rem">

	<section class="import-queue">
		<h3 style="margin-bottom:1rem">Import Queue for {{ url.collection | title }}</h3>
		{{ cms.form.jobqueueStats({
			collection : url.collection,
		}) }}
	</section>

	<section>
		<details class="cms-accordion">
			<summary>CSV Import into {{ url.collection | title }}</summary>
			<div class="content" style="margin-bottom:2rem">
				<p>Choose a CSV file where the first row contains the names of the object properties
				that you will be adding to each object imported.
				<a href="/admin/docs/import">See Import Docs</a>.</p>

				{{ cms.form.importCollection(url.collection, {
					input : 'csv'
				}) }}
			</div>
		</details>

		<details class="cms-accordion">
			<summary>JSON Import into {{ url.collection | title }}</summary>
			<div class="content" style="margin-bottom:2rem">
				<p>Choose a JSON file. The main stucture of the JSON document should be an array of objects.
				<a href="/admin/docs/import">See Import Docs</a>.</p>
				{{ cms.form.importCollection(url.collection, {
					input : 'json'
				}) }}
			</div>
		</details>

		<details class="cms-accordion">
			<summary>Manage Import Queue for {{ url.collection | title }}</summary>
			<div class="content" style="margin-bottom:2rem">
				<p>This will clear the all the pending import jobs for <em><u>just this collection</u></em>.
				This will not delete any items that have already been imported.</p>

				{{ cms.form.clearqueue({
					collection : url.collection,
					label      : 'Clear Import Queue',
				}) }}
			</div>
		</details>
	</section>

	<script>
	document.addEventListener("DOMContentLoaded", event => {
		const details = Array.from(document.querySelectorAll("details"));
		const accordion = new Details(details, {openFirst:true});
	});
	</script>

</section>
