{#--------------------------------
  Field Macros
--------------------------------#}
{% macro fieldstart(field, uuid, args = {}) %}
	{% set args = {
		class   : '',
		label   : false,
		options : {},
	} | merge(args) %}

    <div class="form-field {{ field }}-field {{ args.class }}"
		data-type="{{ field }}"
		{% if args.options %}data-options="{{ args.options|json_encode }}"{% endif %}
	>
        {% if field != "checkbox" %} {% if args.label %}
        <label for="field-{{ uuid }}">{{ args.label }}</label>
        {% endif %} {% endif %}

        <div class="form-group">
{% endmacro %}

{% macro fieldend(uuid, args = {}) %}
	{% set args = {
		icon : false,
		help : false,
	} | merge(args) %}

            {% if args.icon %}<div class="form-group-icon"></div>{% endif %}
        </div>
        {% if args.help %}
        <p class="help" id="help-{{uuid}}">{{ args.help }}</p>
        {% endif %}
    </div>
{% endmacro %}
