{#---------------------------------------------#}
{# Help Classes                               #}
{#                                            #}
{# Triggers: help-on-focus, help-on-hover     #}
{# Styles: help-box, help-label, help-tooltip #}
{#---------------------------------------------#}

{#--------------------------------
  Form Macros
--------------------------------#}
{% macro start(collection, args = {}) %}
	{% set args = {
		method : 'put',
		class  : '',
		id     : '',
	} | merge(args) %}

	{#
		Default Field Arguments
		field       = type of the field data from Total CMS: text, number, date, etc
		type        = type of the input
		class       = classes added to the field
		value       = value of the field
		label       = label of the field
		default     = default value of the field if object is not set or value is empty
		placeholder = placeholder of the field
		help        = help text of the field
		icon        = show icon
		required    = required field
		min         = minimum value
		max         = maximum value
		step        = step value
		autogen     = template string to autogenerate a value (in ID)
		options     = options array added to form-field data-options attribute
		minlength   = minimum length of the field
	#}
	{{ totalcms.storeData("fieldDefaults", {
		field       : "text",
		type        : "text",
		class       : "",
		value       : "",
		label       : "",
		placeholder : "",
		minlength   : false,
		icon        : true,
		rows        : false,
		autogen     : false,
		options     : false,
		help        : false,
		required    : false,
		disabled    : false,
		readonly    : false,
		min         : false,
		minlength   : false,
		max         : false,
		step        : false,
		options     : {},
	}) }}

	{# Store the collection for this form so that other macros and get it #}
	{{ totalcms.storeData("collection", collection) }}

	{% set id = args.id|default(getParams.id) %}
	{% set method = args.method %}

	{% if id %}
		{# force method to be PUT you cannot use POST on an existing object #}
		{% if method == 'post' %}
			{%set method = 'put' %}
		{% endif %}
		{{ totalcms.storeData("object", totalcms.object(collection, id)) }}
		<form class="totalform {{args.class}}" data-collection="{{collection}}" data-id="{{id}}" data-method="{{method}}"
			data-api="{{totalcms.api}}/collections/{{collection}}/{{id}}">
	{% else %}
		<form class="totalform {{args.class}}" data-collection="{{collection}}" data-method="{{method}}"
			data-api="{{totalcms.api}}/collections/{{collection}}">
	{% endif %}
{% endmacro %}

{% macro end() %}
	{{ totalcms.clearStorage() }}
	{{ _self.saveButton() }}
	</form>
{% endmacro %}

{#
<div id="form-save-indicator">
    <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
    <i class="fa fa-check" aria-hidden="true"></i>
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
</div>
#}
