{#---------------------------------------------#}
{# Help Classes                               #}
{#                                            #}
{# Triggers: help-on-focus, help-on-hover     #}
{# Styles: help-box, help-label, help-tooltip #}
{#---------------------------------------------#}

{#--------------------------------
  Form Macros
--------------------------------#}
{% macro start(collection, args = {}) %}
	{% set args = {
		method      : 'post',
		id          : '',
		autosave    : false,
		helpOnHover : false,
		helpOnFocus : false,
		helpStyle   : "",
		newAction   : false,
		editAction  : false,
	} | merge(args) %}

	{#
		Default Field Arguments
		helpOnHover : true,
		helpOnFocus : true,
		helpStyle   : "label", // default, label, tooltip, box
		field       = type of the field data from Total CMS: text, number, date, etc
		type        = type of the input
		class       = classes added to the field
		value       = value of the field
		label       = label of the field
		default     = default value of the field if object is not set or value is empty
		placeholder = placeholder of the field
		help        = help text of the field
		icon        = show icon
		required    = required field
		min         = minimum value
		max         = maximum value
		step        = step value
		pattern     = pattern for validation
		autogen     = template string to autogenerate a value (in ID)
		options     = options array added to form-field data-options attribute
		minlength   = minimum length of the field
	#}
	{{ cms.storeData("fieldDefaults", {
		field       : "text",
		type        : "text",
		class       : "",
		value       : "",
		label       : "",
		placeholder : "",
		minlength   : false,
		icon        : true,
		rows        : 4,
		autogen     : false,
		options     : false,
		help        : false,
		required    : false,
		disabled    : false,
		readonly    : false,
		min         : false,
		minlength   : false,
		max         : false,
		step        : false,
		options     : {},
	}) }}

	{# Store the collection for this form so that other macros and get it #}
	{{ cms.storeData("collection", collection) }}

	{% set collectionData = cms.collection(collection) %}

	{% set id = args.id|default(getParams.id) %}
	{% set method = args.method %}

	{% set class = "" %}

	{% if args.helpOnHover %}
		{% set class = class ~ " help-on-hover" %}
	{% endif %}

	{% if args.helpOnFocus == true %}
		{% set class = class ~ " help-on-focus" %}
	{% endif %}

	{% if args.helpStyle is not empty %}
		{% set class = class ~ " help-" ~ args.helpStyle %}
	{% endif %}

	{% if args.autosave == true %}
		{% set class = class ~ " autosave" %}
	{% endif %}

	{% if id is empty %}
		<form class="totalform {{class}}"
			{% if args.newAction %}
				data-new-action="{{args.newAction|json_encode}}"
			{% endif %}
			{% if args.editAction %}
				data-edit-action="{{args.editAction|json_encode}}"
			{% endif %}
			data-schema="{{collectionData.schema}}"
			data-collection="{{collection}}"
			data-method="{{method}}"
			data-api="{{cms.api}}"
			data-route="/collections/{{collection}}">
	{% else %}
		{# force method to be PUT you cannot use POST on an existing object #}
		{% if method == 'post' %}
			{%set method = 'put' %}
		{% endif %}
		{{ cms.storeData("object", cms.object(collection, id)) }}
		<form class="totalform edit-mode {{class}}"
			{% if args.newAction %}
				data-new-action="{{args.newAction|json_encode}}"
			{% endif %}
			{% if args.editAction %}
				data-edit-action="{{args.editAction|json_encode}}"
			{% endif %}
			data-schema="{{collectionData.schema}}"
			data-collection="{{collection}}"
			data-id="{{id}}"
			data-method="{{method}}"
			data-api="{{cms.api}}"
			data-route="/collections/{{collection}}/{{id}}">
	{% endif %}
{% endmacro %}

{% macro end(save = false, delete = false) %}
	{{ cms.clearStorage() }}
	{% if save %}
		{{ _self.saveButton() }}
	{% endif %}
	{% if delete %}
		{{ _self.deleteButton() }}
	{% endif %}
	</form>
{% endmacro %}
