{#--------------------------------#}
{# Blog Forms                    #}
{#--------------------------------#}
{% macro blogForm(collection, args = {}) %}
	{{ _self.start(collection, {
		helpOnHover : args.helpOnHover,
		helpOnFocus : args.helpOnFocus,
		helpStyle   : args.helpStyle,
		newAction   : args.newAction,
		editAction  : args.editAction,
	}) }}

		{% set fields = {
			date       : true,
			summary    : true,
			content    : true,
			author     : true,
			tags       : true,
			featured   : true,
			draft      : true,
			image      : true,
			categories : false,
			extra      : false,
			extra2     : false,
			media      : false,
			genre      : false,
			labels     : false,
			archived   : false,
			gallery    : false,
		} | merge(args.fields|default({})) %}

		{% set tags       = selectOptions(cms.property(collection, "tags")) %}
		{% set categories = selectOptions(cms.property(collection, "categories")) %}
		{% set labels     = selectOptions(cms.property(collection, "labels")) %}
		{% set genres     = selectOptions(cms.property(collection, "genre")) %}
		{% set authors    = selectOptions(cms.property(collection, "authors")) %}

		<div class="form-columns col-2">
			<section>
				{{ _self.id('id', { autogen : "${title}" }) }}
				{{ _self.text('title') }}

				{{ _self.hidden('created') }}
				{{ _self.hidden('updated') }}

				{% if fields.date %} {{ _self.date('date') }} {% endif %}

				{% if field.summary %} {{ _self.styledtext('summary') }} {% endif %}
				{% if field.content %} {{ _self.styledtext('content') }} {% endif %}

				{% if field.extra %} {{ _self.styledtext('extra') }} {% endif %}
				{% if field.extra2 %} {{ _self.styledtext('extra2') }} {% endif %}

				{% if field.media %} {{ _self.url('media') }} {% endif %}

				{% if field.genre %} {{ _self.text('genre', genres) }} {% endif %}
				{{ _self.text('author', authors) }}

				{% if field.tags %} {{ _self.list('tags', options) }} {% endif %}
				{% if field.categories %} {{ _self.list('categories', categories) }} {% endif %}
				{% if field.labels %} {{ _self.list('labels', labels) }} {% endif %}
			</section>
			<section>
				{% if field.featured %} {{ _self.toggle('featured', { help:false }) }} {% endif %}
				{% if field.draft %} {{ _self.toggle('draft', { help:false }) }} {% endif %}
				{% if field.archived %} {{ _self.toggle('archived', { help:false }) }} {% endif %}
				{% if field.image %} {{ _self.image('image') }} {% endif %}
				{% if field.gallery %} {{ _self.gallery('gallery') }} {% endif %}
			</section>
		</div>

	{{ _self.end(args.save, args.delete) }}
{% endmacro %}
