{#--------------------------------
  Checkbox Macro
--------------------------------#}
{% macro checkbox(property, args = {}) %}
	{# -- Begin Boilerplate -- #}
    {% set uuid       = uniqid() %}
    {% set collection = args.collection|default(cms.getData("collection")) %}
    {% set object     = args.object|default(cms.getData("object")) %}

	{# args priority: args, formDefinitions, defaults #}
	{% set defs = cms.formDefinitions(property, collection, object.id|default("")) %}
	{% set args = cms.getData("fieldDefaults") | merge(defs) | merge(args) %}

	{% if args.value %}
		{% set value = args.value %}
	{% elseif object %}
		{% set value = attribute(object, property) %}
	{% elseif args.default %}
		{% set value = args.default %}
	{% endif %}
	{# -- End Boilerplate -- #}

	{# Override args with static values #}
	{% set args =  args | merge({
		field : "checkbox",
		type  : "checkbox",
		icon  : false,
	}) %}

    {{ _self.fieldstart("checkbox", uuid, args) }}
        <input
            id="field-{{ uuid }}"
            name="{{ property }}"
            type="checkbox"
            {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
            {% if args.required %}required{% endif %}
            {% if value %}checked{% endif %}
        >
        <label for="field-{{ uuid }}">{{ args.label }}</label>
    {{ _self.fieldend(uuid, args) }}

{% endmacro %}

{% macro checkboxForm(id, args = {}, collection = "toggle") %}
	{{ _self.start(collection, {
		id          : id,
		autosave	: args.autosave,
		helpOnHover : args.helpOnHover,
	}) }}
		{{ _self.id('id', { value:id, class: "hide" }) }}
		{{ _self.checkbox('status', args) }}
	{{ _self.end(args.save, args.delete) }}
{% endmacro %}
