{#--------------------------------
  Checkbox Macro
--------------------------------#}
{% macro checkbox(property, args = {}) %}
    {% set uuid       = uniqid() %}
    {% set collection = args.collection|default(totalcms.getData("collection")) %}
    {% set object     = args.object|default(totalcms.getData("object")) %}

	{# args priority: args, formDefinitions, defaults #}
	{% set defs = totalcms.formDefinitions(property, collection, object.id) %}
	{% set args = {
		class    : "",
		label    : "",
		help     : false,
		required : false,
		value    : false,
	} | merge(defs) | merge(args) %}

	{% set checked = object ? attribute(object, property) : args.value %}

    {{ _self.fieldstart("checkbox", uuid, args) }}
        <input
            id="field-{{ uuid }}"
            name="{{ property }}"
            type="checkbox"
            {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
            {% if args.required %}required{% endif %}
            {% if checked %}checked{% endif %}
        >
        <label for="field-{{ uuid }}">{{ args.label }}</label>
    {{ _self.fieldend(uuid, args) }}

{% endmacro %}