{#--------------------------------#}
{# Gallery Form                     #}
{#--------------------------------#}
{% macro galleryForm(id, args = {}, collection = "gallery") %}
	{{ _self.start(collection, {
		id          : id,
		helpOnHover : args.helpOnHover,
	}) }}
		{{ _self.id('id', { value:id, class: "hide" }) }}
		{{ _self.gallery('gallery', args) }}
	{{ _self.end(args.save, args.delete) }}
{% endmacro %}

{#--------------------------------#}
{# Gallery Field                 #}
{#--------------------------------#}
{% macro gallery(property, args = {}) %}

	{# -- Begin Boilerplate -- #}
    {% set uuid       = uniqid() %}
    {% set collection = args.collection|default(cms.getData("collection")) %}
    {% set object     = args.object|default(cms.getData("object")) %}

	{# args priority: args, formDefinitions, defaults #}
	{% set defs = cms.formDefinitions(property, collection, object.id|default("")) %}
	{% set args = cms.getData("fieldDefaults") | merge(defs) | merge(args) %}
	{# -- End Boilerplate -- #}

	{# Override args with static values #}
	{% set args =  args | merge({
		field : "gallery",
		type  : "gallery",
		icon  : false,
	}) %}

	{% set galleryData = attribute(object, property) %}

    {{ _self.fieldstart("gallery", uuid, args) }}

		<input type="hidden" name="{{ property }}" />

		<div class="dz-overlay dz-clickable"></div>

		<div class="total-preview scrollable">
		{% for imageData in galleryData %}
			{% set imagePath = cms.galleryPath(object.id, imageData.name, {w:600,h:400}, collection, property) %}
			<div class="image-preview {% if imageData.featured %}featured{% endif %}">
				{{ _self.imagePreview(imagePath, imageData) }}
				{{ _self.imageDialog(imagePath, imageData) }}
				{{ _self.linkDialog(object.id, collection, property, imageData.name) }}
			</div>
		{% endfor %}
		</div>

		<template id="template-{{ uuid }}">
			<div class="image-preview">
				{{ _self.imagePreview() }}
				{{ _self.imageDialog() }}
				{{ _self.linkDialog(object.id, collection, property) }}
			</div>
		</template>

		<div class="gallery-upload">
			<button type="button" class="dz-clickable" title="Upload New Image"></button>
		</div>

	{{ _self.fieldend(uuid, args, after) }}

{% endmacro %}
