{#--------------------------------#}
{# Image Form                     #}
{#--------------------------------#}
{% macro imageForm(id, args = {}, collection = "image") %}
	{{ _self.start(collection, { id:id }) }}

		{{ _self.id('id', { value:id, class: "hide" }) }}
		{{ _self.image('image', args) }}

	{{ _self.end() }}
{% endmacro %}

{#--------------------------------#}
{# Image Field                     #}
{#--------------------------------#}
{% macro image(property, args = {}) %}
	{# -- Begin Boilerplate -- #}
    {% set uuid       = uniqid() %}
    {% set collection = args.collection|default(totalcms.getData("collection")) %}
    {% set object     = args.object|default(totalcms.getData("object")) %}

	{# args priority: args, formDefinitions, defaults #}
	{% set defs = totalcms.formDefinitions(property, collection, object.id|default("")) %}
	{% set args = totalcms.getData("fieldDefaults") | merge(defs) | merge(args) %}
	{# -- End Boilerplate -- #}

	{# Override args with static values #}
	{% set args =  args | merge({
		field : "image",
		type  : "image",
		icon  : false,
	}) %}

    {# Migrate these to use args.options to be added to fieldstart
		{
			"orientation":"stake_orientation",
			"size":{"min":0,"max":stake_maxsize},
			"height":{"min":stake_height_0,"max":stake_height_1},
			"width":{"min":stake_width_0,"max":stake_width_1},
			"image":true
		}
	#}
	{% set imageData  = attribute(object, property) %}

    {{ _self.fieldstart("image", uuid, args) }}

		<input type="hidden" name="{{ property }}" />

		<div class="dz-overlay dz-clickable"></div>

		<div class="total-preview">
			{{ _self.imagePreview(object.id, imageData) }}
		</div>

		{{ _self.imageDialog(object.id, imageData) }}
		{{ _self.linkDialog(object.id, imageData) }}

		<template id="template-{{ uuid }}">{{ _self.imagePreview(object.id, imageData) }}</template>

    {{ _self.fieldend(uuid, args) }}

{% endmacro %}

{% macro imagePreview(id, imageData) %}
	{# This must only have one div wrapper or else preview JS will break #}
	<div class="dz-preview dz-file-preview">
		<div class="actionbar">
			<button class="edit"     title="Edit Image Info"></button>
			<button class="links"    title="Image URL"></button>
			<button class="featured" title="Featured"></button>
			<button class="move"     title="Reorder Image"></button>
			<button class="trash"    title="Delete Image"></button>
		</div>
		<img src="{{ totalcms.image(id, {w:600,h:400}) }}" oncontextmenu="return false;" draggable="false" data-dz-thumbnail />
		<div class="dz-progress">
			<span class="dz-upload" data-dz-uploadprogress></span>
			<span class="dz-upload-progress-label" data-dz-uploadprogress>0%</span>
		</div>
		<i class="fa fa-check-circle"></i>
		<i class="fa fa-times-circle has-tip" data-tooltip></i>
	</div>
{% endmacro %}

{% macro linkDialog(id, imageData) %}

	<dialog class="cms-modal image-link-dialog">
		<h3>Image Link Builder</h3>
		<button class="close">Close</button>
	</dialog>

{% endmacro %}


{% macro imageDialog(id, imageData) %}

	<dialog class="cms-modal image-edit-dialog">

		<section class="image-preview">
			<img src="{{ totalcms.image(id,{w:600,h:400}) }}" oncontextmenu="return false;" draggable="false" data-dz-thumbnail />
			<div class="focal-point" style="top:{{ imageData.focalpoint.y }}%;left:{{ imageData.focalpoint.x }}%"></div>
		</section>

		<section>
			<details class="cms-accordion">
				<summary>Info</summary>
				{{ _self.checkbox("featured", {
					label : "Featured",
					help  : "Mark this image as featured.",
					value : imageData.featured,
				}) }}
				{{ _self.input("alt", {
					label       : "Alt Text",
					help        : "Alt text is used by screen readers and search engines to describe the image.",
					placeholder : "Enter Alt Text",
					value       : imageData.alt,
				}) }}
				{{ _self.url("link", {
					label       : "Link",
					help        : "Enter a URL to link the image to.",
					placeholder : "https://example.com",
					value       : imageData.link,
				}) }}
				{{ _self.list("tags", [], {
					label       : "Tags",
					help        : "Add tags to help organize your images.",
					placeholder : "Add Tags",
					value       : imageData.tags,
				}) }}
			</details>

			<details class="cms-accordion">
				<summary>Focal Point</summary>
				{{ _self.rangeslider("focalpoint-x", {
					label       : "Focal Point X",
					help        : "Set the horizontal focal point coordinate of the image.",
					value       : imageData.focalpoint.x,
				}) }}
				{{ _self.rangeslider("focalpoint-y", {
					label       : "Focal Point Y",
					help        : "Set the vertical focal point coordinate of the image.",
					value       : imageData.focalpoint.y,
				}) }}
			</details>

			<details class="cms-accordion">
				<summary>EXIF - Info</summary>
				{{ _self.datetime("exif-date", {
					label : "Date",
					value : imageData.exif.date,
				}) }}
				{{ _self.input("exif-title", {
					label       : "Title",
					placeholder : "No Title Found",
					value       : imageData.exif.title,
				}) }}
				{{ _self.input("exif-author", {
					label       : "Author",
					placeholder : "No Autor Found",
					class       : "icon-user",
					value       : imageData.exif.author,
				}) }}
				{{ _self.input("exif-copyright", {
					label       : "Copyright",
					placeholder : "No Copyright Found",
					class       : "icon-copyright",
					value       : imageData.exif.copyright,
				}) }}
				{{ _self.textarea("exif-description", {
					label       : "Description",
					placeholder : "No Description Found",
					value       : imageData.exif.description,
					rows        : 3,
				}) }}
			</details>

			<details class="cms-accordion">
				<summary>EXIF - Camera</summary>
				{{ _self.input("exif-make", {
					label       : "Make",
					class       : "icon-camera",
					placeholder : "Camera Make Not Found",
					value       : imageData.exif.make,
				}) }}
				{{ _self.input("exif-camera", {
					label       : "Model",
					placeholder : "Camera Model Not Found",
					class       : "icon-camera",
					value       : imageData.exif.camera,
				}) }}
				{{ _self.input("exif-lens", {
					label       : "Lens",
					placeholder : "Lens Not Found",
					class       : "icon-camera",
					value       : imageData.exif.lens,
				}) }}
				{{ _self.number("exif-focalLength", {
					label       : "Focal Length",
					placeholder : "Focal Length Not Found",
					class       : "icon-shutter",
					value       : imageData.exif.focalLength,
				}) }}
				{{ _self.input("exif-aperture", {
					label       : "Aperture",
					placeholder : "Aperture Not Found",
					class       : "icon-shutter",
					value       : imageData.exif.aperture,
				}) }}
				{{ _self.number("exif-iso", {
					label       : "ISO",
					placeholder : "ISO Not Found",
					class       : "icon-shutter",
					value       : imageData.exif.iso,
				}) }}
				{{ _self.input("exif-shutterSpeed", {
					label       : "Shutter Speed",
					placeholder : "Shutter Speed Not Found",
					class       : "icon-shutter",
					value       : imageData.exif.shutterSpeed,
				}) }}
			</details>

			<details class="cms-accordion">
				<summary>EXIF - GPS</summary>
				{{ _self.input("exif-longitude", {
					label       : "Longitude",
					class       : "icon-gps",
					placeholder : "Longitude Not Found",
					value       : imageData.exif.longitude,
				}) }}
				{{ _self.input("exif-latitude", {
					label       : "Latitude",
					class       : "icon-gps",
					placeholder : "Latitude Not Found",
					value       : imageData.exif.latitude,
				}) }}
				{{ _self.input("exif-altitude", {
					label       : "Altitude",
					class       : "icon-gps",
					placeholder : "Altitude Not Found",
					value       : imageData.exif.altitude,
				}) }}
			</details>

			<details class="cms-accordion">
				<summary>Color Palette</summary>
				<div class="palette">
				{{ _self.color("palette-1", { value : imageData.palette[0] }) }}
				{{ _self.color("palette-2", { value : imageData.palette[1] }) }}
				{{ _self.color("palette-3", { value : imageData.palette[2] }) }}
				{{ _self.color("palette-4", { value : imageData.palette[3] }) }}
				{{ _self.color("palette-5", { value : imageData.palette[4] }) }}
				</div>
			</details>

			<details class="cms-accordion">
				<summary>Meta (Readonly)</summary>
				{{ _self.number("height", {
					label    : "Height",
					icon     : false,
					readonly : true,
					value    : imageData.height,
				}) }}
				{{ _self.number("width", {
					label    : "Width",
					icon     : false,
					readonly : true,
					value    : imageData.width,
				}) }}
				{{ _self.number("size", {
					label    : "Size",
					icon     : false,
					readonly : true,
					value    : imageData.size,
				}) }}
				{{ _self.input("name", {
					label    : "Filename",
					icon     : false,
					readonly : true,
					value    : imageData.name,
				}) }}
				{{ _self.input("mime", {
					label    : "MIME Type",
					icon     : false,
					readonly : true,
					value    : imageData.mime,
				}) }}
				{{ _self.datetime("uploadDate", {
					label    : "Upload Date",
					icon     : false,
					readonly : true,
					value    : imageData.uploadDate,
				}) }}
			</details>

		</section>

		<button class="close">Close</button>

	</dialog>

{% endmacro %}
