{% macro image(property, args = {}) %}
    {% set uuid       = uniqid() %}
    {% set collection = args.collection|default(totalcms.getData("collection")) %}
    {% set object     = args.object|default(totalcms.getData("object")) %}
	{% set imageData  = attribute(object, property) %}

	{# args priority: args, formDefinitions, defaults #}
	{% set defs = totalcms.formDefinitions(property, collection, object.id|default("")) %}
	{% set args = {
		class       : "",
		label       : "",
		help        : false,
		required    : false,
	} | merge(defs) | merge(args) %}

    {# Migrate these to use args.options to be added to fieldstart
		{
			"orientation":"stake_orientation",
			"size":{"min":0,"max":stake_maxsize},
			"height":{"min":stake_height_0,"max":stake_height_1},
			"width":{"min":stake_width_0,"max":stake_width_1},
			"image":true
		}
	#}

	{{ print_r(imageData) | raw }}

    {{ _self.fieldstart("image", uuid, args) }}

		<input type="hidden"
			id="field-{{ uuid }}"
			name="{{ property }}"
			value="JSON String"
			data-template="template-{{ uuid }}"
			{% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
			{% if args.required %}required{% endif %} />

		<div class="total-preview">
			<div class="dz-overlay dz-clickable">
				<i class="fa fa-cloud-upload fa-4x"></i>
			</div>
			{{ _self.imagePreview("") }}
		</div>

		{{ _self.imageDialog(imageData) }}

		<template id="template-{{ uuid }}">{{ _self.imagePreview("") }}</template>

    {{ _self.fieldend(uuid, args) }}

{% endmacro %}

{% macro imagePreview(image) %}
	<div class="dz-preview dz-file-preview">
		<div class="actionbar">
			<button class="edit"     title="Edit Image Info"></button>
			<button class="links"    title="Image URL"></button>
			<button class="featured" title="Featured"></button>
			<button class="move"     title="Reorder Image"></button>
			<button class="trash"    title="Delete Image"></button>
		</div>
		<img src="{{ totalcms.image('myimage',{w:600,h:500}) }}" oncontextmenu="return false;" draggable="false" data-dz-thumbnail />
		<div class="dz-progress">
			<span class="dz-upload" data-dz-uploadprogress></span>
			<span class="dz-upload-progress-label" data-dz-uploadprogress>0%</span>
		</div>
		<i class="fa fa-check-circle"></i>
		<i class="fa fa-times-circle has-tip" data-tooltip></i>
	</div>
{% endmacro %}

{% macro imageDialog(image) %}
	<dialog class="image-edit-dialog">

		<section>
			<img src="{{ totalcms.image('myimage',{w:600,h:500}) }}" oncontextmenu="return false;" draggable="false" data-dz-thumbnail />
			<div class="focal-point" style="top:50%;left:50%"></div>
		</section>

		<section>
			<details open>
				<summary>Info</summary>
				{{ _self.checkbox("featured", {
					label       : "Featured",
					help        : "Mark this image as featured.",
				}) }}
				{{ _self.input("alt", {
					label       : "Alt Text",
					help        : "Alt text is used by screen readers and search engines to describe the image.",
					placeholder : "Enter Alt Text",
				}) }}
				{{ _self.url("link", {
					label       : "Link",
					help        : "Enter a URL to link the image to.",
					placeholder : "https://example.com",
				}) }}
				{{ _self.list("tags", [], {
					label       : "Tags",
					help        : "Add tags to help organize your images.",
					placeholder : "Add Tags",
				}) }}
			</details>

			<details>
				<summary>Focal Point</summary>
				{{ _self.rangeslider("focalpoint-x", {
					label       : "Focal Point X",
					help        : "Set the horizontal focal point coordinate of the image.",
				}) }}
				{{ _self.rangeslider("focalpoint-y", {
					label       : "Focal Point Y",
					help        : "Set the vertical focal point coordinate of the image.",
				}) }}
			</details>

			<details>
				<summary>EXIF - Info</summary>
				{{ _self.datetime("exif-date", { label:"Date" }) }}
				{{ _self.input("exif-title", {
					label       : "Title",
					placeholder : "No Title Found",
				}) }}
				{{ _self.input("exif-copyright", {
					label:"Copyright",
					placeholder:"No Copyright Found",
					class:"icon-copyright",
				}) }}
				{{ _self.textarea("exif-description", {
					label       : "Description",
					placeholder : "No Description Found",
					rows        : 3,
				}) }}
			</details>

			<details>
				<summary>EXIF - Camera Settings</summary>
				{{ _self.input("exif-make", {
					label       : "Make",
					class       : "icon-camera",
					placeholder : "Camera Make Not Found",
				}) }}
				{{ _self.input("exif-camera", {
					label       : "Model",
					placeholder : "Camera Model Not Found",
					class       : "icon-camera",
				}) }}
				{{ _self.input("exif-aperture", {
					label       : "Aperture",
					placeholder : "Aperture Not Found",
					class       : "icon-shutter",
				}) }}
				{{ _self.number("exif-iso", {
					label       : "ISO",
					placeholder : "ISO Not Found",
					class       : "icon-shutter",
				}) }}
				{{ _self.number("exif-shutterSpeed", {
					label       : "Shutter Speed",
					placeholder : "Shutter Speed Not Found",
					class       : "icon-shutter",
				}) }}
				{{ _self.number("exif-focalLength", {
					label       : "Focal Length",
					placeholder : "Focal Length Not Found",
					class       : "icon-shutter",
				}) }}
			</details>

			<details>
				<summary>Color Palette</summary>
				<div class="palette">
				{{ _self.color("palette-1") }}
				{{ _self.color("palette-2") }}
				{{ _self.color("palette-3") }}
				{{ _self.color("palette-4") }}
				{{ _self.color("palette-5") }}
				</div>
			</details>

			<details>
				<summary>Meta (Readonly)</summary>
				{{ _self.number("height", {
					label    : "Height",
					icon     : false,
					readonly : true
				}) }}
				{{ _self.number("width", {
					label    : "Width",
					icon     : false,
					readonly : true
				}) }}
				{{ _self.number("size", {
					label    : "Size",
					icon     : false,
					readonly : true
				}) }}
				{{ _self.input("name", {
					label    : "Filename",
					icon     : false,
					readonly : true
				}) }}
				{{ _self.input("mime", {
					label    : "MIME Type",
					icon     : false,
					readonly : true
				}) }}
				{{ _self.datetime("uploadDate", {
					label    : "Upload Date",
					icon     : false,
					readonly : true
				}) }}
			</details>

		</section>

		<button class="close">Close</button>

	</dialog>

	<script>
	document.addEventListener('DOMContentLoaded', () => {
		const dialog = document.querySelector('.image-edit-dialog');
		const button = dialog.querySelector('dialog button.close');
		button.addEventListener('click', () => dialog.close());

		const edit = document.querySelector('.dz-preview button.edit');
		edit.addEventListener('click', () => {
			dialog.showModal();
			dialog.addEventListener('click', event => {
				const rect = dialog.getBoundingClientRect();
				const isInDialog = (rect.top <= event.clientY && event.clientY <= rect.top + rect.height &&
					rect.left <= event.clientX && event.clientX <= rect.left + rect.width);
				if (!isInDialog) {
					dialog.close();
				}
			});
		});

		// Close other details when one is opened
		const details = dialog.querySelectorAll('details');
		details.forEach((detail) => {
			detail.addEventListener('toggle', () => {
				if (detail.open) {
					const siblings = Array.from(detail.parentNode.children).filter((d) => d !== detail);
					siblings.forEach((sibling) => sibling.removeAttribute('open'));
				}
			});
		});

		const focalPointX = dialog.querySelector('.form-field:has([name=focalpoint-x])');
		const focalPointY = dialog.querySelector('.form-field:has([name=focalpoint-y])');
		const focalPoint  = dialog.querySelector('.focal-point');
		const focalPointCoords = (event) => {
			const rect = focalPoint.parentNode.getBoundingClientRect();
			const x = (event.clientX - rect.left) / rect.width * 100;
			const y = (event.clientY - rect.top) / rect.height * 100;
			if (x < 0) x = 0;
			if (x > 100) x = 100;
			if (y < 0) y = 0;
			if (y > 100) y = 100;
			return { x, y };
		};
		focalPointX.totalfield.watch(() => {
			focalPoint.style.left = `${focalPointX.totalfield.getValue()}%`;
		});
		focalPointY.totalfield.watch(() => {
			focalPoint.style.top = `${focalPointY.totalfield.getValue()}%`;
		});
		let dragging = false;

		focalPoint.addEventListener('mousedown', (event) => {
			dragging = true;
		});

		document.addEventListener('mousemove', (event) => {
			if (dragging) {
				const { x, y } = focalPointCoords(event);
				focalPoint.style.left = `${x}%`;
				focalPoint.style.top = `${y}%`;
				focalPointX.totalfield.setValue(x.toFixed(1));
				focalPointY.totalfield.setValue(y.toFixed(1));
			}
		});

		document.addEventListener('mouseup', (event) => {
			if (dragging) dragging = false;
		});
	});
	</script>
{% endmacro %}
