{% macro image(property, args = {}) %}
    {% set uuid       = uniqid() %}
    {% set collection = args.collection|default(totalcms.getData("collection")) %}
    {% set object     = args.object|default(totalcms.getData("object")) %}
	{% set imageData  = attribute(object, property) %}

	{# args priority: args, formDefinitions, defaults #}
	{% set defs = totalcms.formDefinitions(property, collection, object.id|default("")) %}
	{% set args = {
		class       : "",
		label       : "",
		help        : false,
		required    : false,
	} | merge(defs) | merge(args) %}

    {# Migrate these to use args.options to be added to fieldstart
		{
			"orientation":"stake_orientation",
			"size":{"min":0,"max":stake_maxsize},
			"height":{"min":stake_height_0,"max":stake_height_1},
			"width":{"min":stake_width_0,"max":stake_width_1},
			"image":true
		}
	#}

	{{ print_r(imageData) | raw }}

    {{ _self.fieldstart("image", uuid, args) }}

		<input type="hidden"
			id="field-{{ uuid }}"
			name="{{ property }}"
			value="JSON String"
			data-template="template-{{ uuid }}"
			{% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
			{% if args.required %}required{% endif %} />

		<div class="total-preview">
			<div class="dz-overlay dz-clickable">
				<i class="fa fa-cloud-upload fa-4x"></i>
			</div>
			{{ _self.imagePreview("") }}
		</div>

		{{ _self.imageDialog(imageData) }}

		<template id="template-{{ uuid }}">{{ _self.imagePreview("") }}</template>

    {{ _self.fieldend(uuid, args) }}

{% endmacro %}

{% macro imagePreview(image) %}
	<div class="dz-preview dz-file-preview">
		<div class="actionbar">
			<button class="edit"     title="Edit Image Info"></button>
			<button class="links"    title="Image URL"></button>
			<button class="featured" title="Featured"></button>
			<button class="move"     title="Reorder Image"></button>
			<button class="trash"    title="Delete Image"></button>
		</div>
		<img src="{{ totalcms.image('myimage',{w:600,h:500}) }}" oncontextmenu="return false;" draggable="false" data-dz-thumbnail />
		<div class="dz-progress">
			<span class="dz-upload" data-dz-uploadprogress></span>
			<span class="dz-upload-progress-label" data-dz-uploadprogress>0%</span>
		</div>
		<i class="fa fa-check-circle"></i>
		<i class="fa fa-times-circle has-tip" data-tooltip></i>
	</div>
{% endmacro %}

{% macro imageDialog(image) %}
	<dialog class="image-edit-dialog">

		alt
		exif-aperture
		exif-iso
		exif-shutterSpeed
		exif-make
		exif-camera
		exif-focalLength
		exif-description
		exif-copyright
		exif-title
		exif-date
		featured
		focalpoint-x
		focalpoint-y
		"height
		"link"
		"mime"
		"name"
		"palette"
			"#1e140e",
			"#7d3012",
			"#8f9217",
			"#c3bc25",
			"#c61d1d"
		],
		"size"
		"tags"
			"golden gate bridge",
			"san francisco"
		],
		"uploadDate"
		"width"

		<button class="close">Close</button>
	</dialog>

	<script>
	document.addEventListener('DOMContentLoaded', () => {
		const dialog = document.querySelector('.image-edit-dialog');
		const button = dialog.querySelector('dialog button.close');
		button.addEventListener('click', () => dialog.close());
		dialog.showModal();
	});
	</script>
{% endmacro %}
