{% macro multiselect(property, options = [], args = {}) %}
	{% set args =  {
		field : "multiselect",
		type  : "select",
	} | merge(args) %}

	{# -- Begin Boilerplate -- #}
    {% set uuid       = uniqid() %}
    {% set collection = args.collection|default(cms.getData("collection")) %}
    {% set object     = args.object|default(cms.getData("object")) %}

	{# args priority: args, formDefinitions, defaults #}
	{% set defs = cms.formDefinitions(property, collection, object.id|default("")) %}
	{% set args = cms.getData("fieldDefaults") | merge(defs) | merge(args) %}

	{% set values = [] %}

	{% if args.value %}
		{% set values = args.value %}
	{% elseif object %}
		{% set values = attribute(object, property) %}
	{% elseif args.default %}
		{% set values = args.default %}
	{% endif %}
	{# -- End Boilerplate -- #}

	{# Get the options form the form definitions if none are provided #}
	{% if options is empty and defs.options is not empty %}
		{% set options = props.options %}
	{% endif %}

    {{ _self.fieldstart(args.field, uuid, args) }}
    <select multiple
        id="field-{{ uuid }}"
        name="{{ property }}"
        size="{{ args.rows }}"
        {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
        {% if args.required %}required{% endif %}>

		{% if args.placeholder %}
		<option value="" disabled>{{ args.placeholder }}</option>
		{% endif %}


		{% if cms.array(options) and options is not empty %}
			{% set optionValues = options|column('value') %}
			{% for value in values %}
				{% if value not in optionValues %}
				<option value="{{ value|e }}" selected>{{ value|e }}</option>
				{% endif %}
			{% endfor %}
		{% endif %}

        {% for option in options %}
			{% if option.value not in values %}
			<option value="{{ option.value|e }}" {% if option.value in values %}selected{% endif %}>{{ option.label|e }}</option>
			{% endif %}
        {% endfor %}

    </select>
    {{ _self.fieldend(uuid, args) }}
{% endmacro %}