{% macro multiselect(name, options = [], args = {}) %}
    {% set uuid       = uniqid() %}
    {% set collection = args.collection|default(totalcms.getData("collection")) %}
    {% set object     = args.object|default(totalcms.getData("object")) %}

	{# args priority: args, formProps, defaults #}
	{% set props = totalcms.formProps(name, collection, object.id|default("")) %}
	{% set args = {
		field       : "select",
		class       : "",
		label       : "",
		placeholder : "",
		value       : [],
		help        : false,
		icon        : true,
		required    : false,
		rows        : 10,
	} | merge(props) | merge(args) %}

	{% if options is empty and props.options is not empty %}
		{% set options = props.options %}
	{% endif %}

    {{ _self.fieldstart(args.field, uuid, args) }}
    <select multiple
        id="field-{{ uuid }}"
        name="{{ name }}"
        size="{{ args.rows }}"
        {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
        {% if args.required %}required{% endif %}
    >
		{# Get the default selected value #}
		{% set value = object ? attribute(object, name) : args.value %}

		{% if args.placeholder %}
		<option value="" disabled>{{ args.placeholder }}</option>
		{% endif %}

        {% for option in options %}
        <option value="{{ option.value|e }}" {% if option.value in values %}selected{% endif %}>{{ option.label|e }}</option>
        {% endfor %}
    </select>
    {{ _self.fieldend(uuid, args) }}
{% endmacro %}