{#--------------------------------
  Radio Macro
--------------------------------#}
{% macro radio(property, options = [], args = {}) %}
    {% set uuid       = uniqid() %}
    {% set collection = args.collection|default(cms.getData("collection")) %}
    {% set object     = args.object|default(cms.getData("object")) %}

	{# args priority: args, formDefinitions, defaults #}
	{% set defs = cms.formDefinitions(property, collection, object.id|default("")) %}
	{% set args = {
		class       : "",
		label       : "",
		help        : false,
		required    : false,
	} | merge(defs) | merge(args) %}

    <div class="form-field radio-field {{ class }}">

        {% if args.label %}
        <label>{{ args.label }}</label>
        {% endif %}

        {% for option in options %}
        <div class="radio">
            <input
                id="field-{{ uuid }}-{{ loop.index }}"
                name="{{ property }}"
                type="radio"
                value="{{ option.value }}"
                {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
                {% if args.required %}required{% endif %}
                {% if option.selected %}checked{% endif %}
            >
            <label for="field-{{ uuid }}-{{ loop.index }}" class="radio-label">{{ option.label }}</label>
        </div>
        {% endfor %}

        {% if args.help %}
        <p class="help" id="help-{{uuid}}">{{ args.help }}</p>
        {% endif %}
    </div>

{% endmacro %}