{#--------------------------------
  Range Macro
--------------------------------#}
{% macro rangeslider(property, args = {}) %}
    {% set uuid       = uniqid() %}
    {% set collection = args.collection|default(totalcms.getData("collection")) %}
    {% set object     = args.object|default(totalcms.getData("object")) %}

	{# args priority: args, formDefinitions, defaults #}
	{% set defs = totalcms.formDefinitions(property, collection, object.id|default("")) %}
	{% set args = {
		class       : "",
		value       : "",
		label       : "",
		placeholder : "",
		help        : false,
		required    : false,
		min         : false,
		max         : false,
		step        : false,
		icon		: false,
	} | merge(defs) | merge(args) %}

    {{ _self.fieldstart("range", uuid, args) }}
    <input
        id="field-{{ uuid }}"
        type="range"
        name="{{ property }}"
		value="{{ object ? attribute(object, property) : args.value|e }}"
        {% if args.min %}min="{{ args.min }}"{% endif %}
        {% if args.max %}max="{{ args.max }}"{% endif %}
        {% if args.step %}step="{{ args.step }}"{% endif %}
        {% if args.placeholder %}placeholder="{{ args.placeholder|e }}"{% endif %}
        {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
        {% if args.required %}required{% endif %}
    >
	<div id="value-{{ uuid }}" class="range-value">{{ args.value }}</div>
    {{ _self.fieldend(uuid, args) }}
{% endmacro %}