{#--------------------------------
  Range Macro
--------------------------------#}
{% macro rangeslider(property, args = {}) %}
	{# -- Begin Boilerplate -- #}
    {% set uuid       = uniqid() %}
    {% set collection = args.collection|default(totalcms.getData("collection")) %}
    {% set object     = args.object|default(totalcms.getData("object")) %}

	{# args priority: args, formDefinitions, defaults #}
	{% set defs = totalcms.formDefinitions(property, collection, object.id|default("")) %}
	{% set args = totalcms.getData("fieldDefaults") | merge(defs) | merge(args) %}

	{% if args.value %}
		{% set value = args.value %}
	{% elseif object %}
		{% set value = attribute(object, property) %}
	{% elseif args.default %}
		{% set value = args.default %}
	{% endif %}
	{# -- End Boilerplate -- #}

	{# Override args with static values #}
	{% set args =  args | merge({
		field : "range",
		type  : "range",
		icon  : false,
	}) %}

    {{ _self.fieldstart("range", uuid, args) }}
    <input
        id="field-{{ uuid }}"
        type="range"
        name="{{ property }}"
		value="{{ value }}"
        {% if args.min %}min="{{ args.min }}"{% endif %}
        {% if args.max %}max="{{ args.max }}"{% endif %}
        {% if args.step %}step="{{ args.step }}"{% endif %}
        {% if args.placeholder %}placeholder="{{ args.placeholder|e }}"{% endif %}
        {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
        {% if args.required %}required{% endif %}
    >
	<div id="value-{{ uuid }}" class="range-value">{{ value }}</div>
    {{ _self.fieldend(uuid, args) }}
{% endmacro %}

{% macro rangesliderForm(id, args = {}, collection = "number") %}
	{{ _self.start(collection, { id:id }) }}
		{{ _self.id('id', { value:id, class: "hide" }) }}
		{{ _self.rangeslider('number', args) }}
	{{ _self.end() }}
{% endmacro %}
