<h1>{{ t('mailer.help_title') }}</h1>

<section class="dash-content-section">
	<section>
	<h2>{{ t('mailer.what_is') }}</h2>
	<p>{{ t('mailer.what_is_desc') }}</p>
	</section>

	<section>
	<h2>{{ t('mailer.creating_title') }}</h2>
	<p>{{ t('mailer.creating_desc') }}</p>
	</section>

	<section>
	<h2>{{ t('mailer.using_title') }}</h2>
	<p>{{ t('mailer.using_desc') }}</p>
	</section>

	<section>
	<h2>{{ t('mailer.testing_title') }}</h2>
	<p>{{ t('mailer.testing_desc') }}</p>
	</section>
</section>
