
{% macro gallery(id, thumbs = {w:300,h:200}, large = {}, collection = "gallery", property = "gallery") %}
	<div class="cms-gallery">
		{% for image in cms.data(collection, id, property) %}
			<a href="{{ cms.galleryPath(id, image.name, large, collection, property) }}" data-lg-size="{{ image.width }}-{{ image.height }}">
				<img alt="{{ image.alt }}" src="{{ cms.galleryPath(id, image.name, thumbs, collection, property) }}" />
			</a>
		{% endfor %}
	</div>
{% endmacro %}
