{% extends "admin-layout.twig" %}

{% macro input(name, field, label, class, help, value, args = {}) %}
    {% set uuid = uniqid() %}
    <div class="form-field {{ field }}-field {{class}} help-box help-on-hover" data-type="{{ field }}">
	    <label for="field-{{ uuid }}">{{ label }}</label>
        <div class="form-group">
			<input
				id="field-{{uuid}}"
				type="{{field}}"
				name="{{name}}"
				value="{{ value|e }}"
				aria-describedby="help-{{uuid}}"
				{% if args.min %}min="{{args.min}}"{% endif %}
				{% if args.max %}max="{{args.max}}"{% endif %}
				{% if args.step %}step="{{args.step}}"{% endif %}
				{% if args.list %}list="{{args.list}}"{% endif %}
			>
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-{{uuid}}">{{ help|raw }}</p>
    </div>
{% endmacro %}

{% macro select(name, label, class, help, value, options) %}
    {% set uuid = uniqid() %}
    <div class="form-field select-field {{class}} help-box help-on-hover" data-type="select">
	    <label for="field-{{ uuid }}">{{ label }}</label>
        <div class="form-group">
			<select id="field-{{uuid}}" name="{{name}}" value="{{value|e}}" aria-describedby="help-{{uuid}}">
				<option value="">None</option>

				{% for option in options %}
				<option value="{{ option.value|e }}" {%if option.value == value %}selected{% endif %}>{{ option.label|e }}</option>
				{% endfor %}
			</select>
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-{{uuid}}">{{ help|raw }}</p>
    </div>
{% endmacro %}

{% block head %}
	<link rel="stylesheet" href="{{ cms.api }}/assets/imageworks-builder.css"/>
{% endblock %}

{% block content %}

	{% set id         = getParams.id  %}
	{% set collection = getParams.collection | default("image") %}
	{% set property   = getParams.property | default("image") %}
	{% set name       = getParams.name %}
	{% set values     = getParams %}
	{% set help       = {
			p         : "Select a preset to apply a set of predefined options to the image. Any settings set" ~
						"below will override values defined in the preset. New presets can be added in the CMS config.",
			w         : "Sets the width of the image, in pixels.",
			h         : "Sets the height of the image, in pixels.",
			dpr       : "The device pixel ratio is used to easily convert between CSS pixels and device pixels. " ~
				        "This makes it possible to display images at the correct pixel density on retina devices. " ~
				        "The maximum value that can be set for dpr is 8.",
			q         : "Defines the quality of the image. Use values between 0 and 100. Defaults to 90. " ~
					    "Only relevant if the format is set to jpg, pjpg, webp or avif.",
			fm        : "Encodes the image to a specific format. Accepts jpg, pjpg (progressive jpeg), " ~
					    "png, gif, webp or avif. Defaults to jpg.",
			fit       : "How the image is fitted to its target dimensions. " ~
				        "See the Fit Options Docs for more information.",
			bri       : "Adjusts the image brightness. Use values between -100 and +100, where 0 represents no change.",
			con       : "Adjusts the image contrast. Use values between -100 and +100, where 0 represents no change.",
			gam       : "Adjusts the image gamma. Use values between 0.1 and 9.99.",
			sharp     : "Sharpen the image. Use values between 0 and 100.",
			blur      : "Adds a blur effect to the image. Use values between 0 and 100.",
			pixel     : "Applies a pixelation effect to the image. Use values between 0 and 1000.",
			filt      : "Applies a filter effect to the image. Accepts greyscale or sepia.",
			mark      : "Adds a watermark to the image. The value should be the name of the image added to the " ~
				    	"configured watermarks gallery.",
			markw     : "Sets the width of the watermark in pixels or using relative dimensions. " ~
					    "For relative dimensions, 5w represents 5% of the width of the image.",
			markh     : "Sets the height of the watermark in pixels or using relative dimensions. " ~
					    "For relative dimensions, 5h represents 5% of the height of the image.",
			markfit   : "How the watermark is fitted to its target dimensions. " ~
				      	"See the Fit Options Docs for more information.",
			markpad   : "Sets the padding around the watermark in pixels or using relative dimensions. " ~
					   	"For relative dimensions, 5w represents 5% of the width of the image.",
			markalpha : "Sets the alpha of the watermark. Use values between 0 and 100.",
			markpos   : "Sets the position of the watermark. Accepts top-left, top-right, bottom-left, bottom-right, " ~
					  	"top-center, bottom-center, left-center, right-center, center.",
			bg        : "Sets the background color of the image. Accepts hex values (without hashtag) or named colors. " ~
						"You can also use palette and palette0 - palette4 to access colors from the image.",
			border    : "Sets the border of the image. Accepts width, color, and method. " ~
					  	"Width is in pixels, color is a hex value (without hashtag) or named color," ~
					  	" and method is overlay, shrink or expand. " ~
						"You can also use palette and palette0 - palette4 to access colors from the image.",
			flip      : "Flips the image. Accepts v, h and both.",
			"or" 	  : "Rotates the image. Accepts auto, 0, 90, 180 or 270. Default is auto. " ~
					  	"The auto option uses Exif data to automatically orient images correctly.",
		}
	%}

	<main class="admin-layout container">

		<section class="image-preview" data-id="{{id}}" data-collection="{{collection}}" data-property="{{property}}" data-name="{{name}}">
			<h1>Total CMS Image Builder</h1>
			<div class="split-view">

				{% set imagePath = cms.imagePath(id, values, {collection: collection, property: property}) %}

				{% if name %}
					{% set imagePath = cms.galleryPath(id, name, values, {collection: collection, property: property}) %}
				{% endif %}

				<img src="{{ imagePath }}"
					data-id="{{id}}"
					data-collection="{{collection}}"
					data-property="{{property}}"
					draggable="false" />
				<div class="image-info">
					<div>
						<h4>Macro:</h4>

						{% if name %}
						<pre id="twig-macro">&#123;&#123; cms.galleryPath("{{id}}", "{{name}}") &#125;&#125;</pre>
						{% else %}
						<pre id="twig-macro">&#123;&#123; cms.imagePath("{{id}}") &#125;&#125;</pre>
						{% endif %}

						<button type="button" id="copy-macro">Copy Macro</button>
						<a href="{{ imagePath }}" download id="download-image" title="Download Preview Image"></a>
					</div>
					<h4>Size: <span id="filesize"></span> <span id="dimensions"></span></h4>
				</div>
			</div>
			<button type="button" id="refresh-image">Preview Image</button>
		</section>

		<form class="totalform help-box help-on-hover">

			<input type="hidden" name="id" value="{{ id }}">
			<input type="hidden" name="collection" value="{{ collection }}">
			<input type="hidden" name="property" value="{{ property }}">
			<input type="hidden" name="name" value="{{ name }}">


			<section>
				{% set presets = cms.config("imageworks", "presets") | keys %}
				{{ _self.select("p", "Preset", "icon-settings", help.p, values.p, selectOptions(presets)) }}
			</section>

			<details class="cms-accordion">
				<summary>Sizing &amp; Crop</summary>
				<div>
					<section>
						{{ _self.input("w", "number", "Width", "icon-width", help.w, values.w, { min:1 }) }}
						{{ _self.input("h", "number", "Height", "icon-height", help.h, values.h, { min:1 }) }}
						{{ _self.input("dpr", "number", "Pixel Density", "icon-pixels", help.dpr, values.dpr, { min:1, max:8, step: 0.5 }) }}
					</section>
					<section>
						{{ _self.input("q", "number", "Quality", "icon-quality", help.q, values.q, { min:0, max:100 }) }}
						{{ _self.select("fm", "Format", "icon-imageformat", help.fm, values.fm, [
							{ value: "jpg", label: "JPG" },
							{ value: "pjpg", label: "Progressive JPG" },
							{ value: "png", label: "PNG" },
							{ value: "gif", label: "GIF" },
							{ value: "webp", label: "WebP" },
							{ value: "avif", label: "AVIF" },
						]) }}
						{{ _self.input("fit", "text", "Fit and Crop", "icon-crop", help.fit, values.fit, {list : "fit-options"}) }}
						<button type="button" class='open-fit-docs'>Fit Options Docs</button>
					</section>
				</div>
			</details>

			<details class="cms-accordion">
				<summary>Effects</summary>
				<div>
					<section>
						{{ _self.input("sharp", "number", "Sharpen", "icon-sharpen", help.sharp, values.sharp, { min:0, max:100 }) }}
						{{ _self.input("con", "number", "Contrast", "icon-contrast", help.con, values.con, { min:-100, max:100 }) }}
						{{ _self.input("bri", "number", "Brightness", "icon-bright", help.bri, values.bri, { min:-100, max:100 }) }}
						{{ _self.input("gam", "number", "Gamma", "icon-gamma", help.gam, values.gam, { min:0.1, max:9.99, step:0.01 }) }}
					</section>
					<section>
						{{ _self.input("blur", "number", "Blur", "icon-blur", help.blur, values.blur, { min:0, max:100 }) }}
						{{ _self.input("pixel", "number", "Pixelate", "icon-pixelate", help.pixel, values.pixel, { min:0, max:1000 }) }}
						{{ _self.select("filt", "Filter", "icon-filter", help.filt, values.filt, [
							{ value: "greyscale", label: "Black & White" },
							{ value: "sepia", label: "Sepia" },
						]) }}
						{# {{ _self.select("flip", "Flip", "Flip the image", [
							{ value: "v", label: "Vertical" },
							{ value: "h", label: "Horizontal" },
							{ value: "both", label: "Both" },
						]) }}
						{{ _self.select("or", "Rotate", "Rotate the image", [
							{ value: "auto", label: "Auto" },
							{ value: "0", label: "0°" },
							{ value: "90", label: "90°" },
							{ value: "180", label: "180°" },
							{ value: "270", label: "270°" },
						]) }} #}
					</section>
				</div>
			</details>

			<details class="cms-accordion">
				<summary>Background &amp; Border</summary>
				<div>
					<section>
						{{ _self.input("bg", "text", "Background", "icon-paint-roller", help.bg, values.bg) }}
					</section>
					<section>
						{{ _self.input("border", "text", "Border", "icon-paint-brush", help.border, values.border, {list:"border-options"}) }}
					</section>
				</div>
			</details>

			<details class="cms-accordion">
				<summary>Watermark</summary>
				<div>
					<section>

						{% set watermarkID = cms.config("imageworks", "watermarksGallery") %}
						{% set watermarkData = cms.data("gallery", watermarkID, "gallery") | default([]) %}
						{% set watermarks = selectOptions(watermarkData, "name", "name") %}

						{{ _self.select("mark", "Watermark", "icon-copyright", help.mark, values.mark, watermarks) }}
						{{ _self.input("markw", "text", "Width", "icon-width", help.markw, values.markw) }}
						{{ _self.input("markh", "text", "Height", "icon-height", help.markh, values.markh) }}
						{{ _self.input("markalpha", "number", "Alpha", "icon-eye", help.markalpha, values.markalpha, { min:0, max:100 }) }}
					</section>
					<section>
						{{ _self.input("markpad", "text", "Padding", "icon-padding", help.markpad, values.markpad) }}
						{{ _self.select("markpos", "Position", "icon-position", help.markpos, values.markpos, [
							{ value: "top-left", label: "Top Left" },
							{ value: "top-right", label: "Top Right" },
							{ value: "bottom-left", label: "Bottom Left" },
							{ value: "bottom-right", label: "Bottom Right" },
							{ value: "top-center", label: "Top Center" },
							{ value: "bottom-center", label: "Bottom Center" },
							{ value: "left-center", label: "Left Center" },
							{ value: "right-center", label: "Right Center" },
							{ value: "center", label: "Center" },
						]) }}
						{{ _self.input("markfit", "text", "Fit and Crop", "icon-crop", help.markfit, values.markfit, {list : "fit-options"}) }}
						<button type="button" class='open-fit-docs'>Fit Options Docs</button>
					</section>
				</div>
			</details>
		</form>

		<datalist id="border-options">
			<option value="10,ffffff,overlay"></option>
			<option value="15,palette,expand"></option>
			<option value="15,palette3,shrink"></option>
		</datalist>

		<datalist id="fit-options">
			<option value="contain"></option>
			<option value="max"></option>
			<option value="fill"></option>
			<option value="fill-max"></option>
			<option value="stretch"></option>
			<option value="crop"></option>
			<option value="crop-top"></option>
			<option value="crop-bottom"></option>
			<option value="crop-left"></option>
			<option value="crop-right"></option>
			<option value="crop-top-left"></option>
			<option value="crop-top-right"></option>
			<option value="crop-bottom-left"></option>
			<option value="crop-bottom-right"></option>
			<option value="crop-50-50"></option>
			<option value="crop-25-75-1.5"></option>
			<option value="crop-focalpoint"></option>
			<option value="crop-focalpoint-1.5"></option>
		</datalist>

		<dialog id="fit-modal" class="cms-modal">
			<section class="scroller">
				<h3>Fit and Crop Options</h3>
				<button type="button" class="close">Close</button>
				<dl class="option-docs">
					<dt>contain</dt>
					<dd>(<em>Default</em>) Resizes the image to fit within the width and height boundaries without
					cropping, distorting or altering the aspect ratio.</dd>

					<dt>max</dt>
					<dd>Resizes the image to fit within the width and height boundaries without cropping,
					distorting or altering the aspect ratio, and will also not increase the size of the
					image if it is smaller than the output size.</dd>

					<dt>fill</dt>
					<dd>Resizes the image to fit within the width and height boundaries without cropping
					or distorting the image, and the remaining space is filled with the background color.
					The resulting image will match the constraining dimensions.</dd>

					<dt>fill-max</dt>
					<dd>Resizes the image to fit within the width and height boundaries without cropping
					but upscaling the image if it's smaller. The finished image will have remaining space
					on either width or height (except if the aspect ratio of the new image is the same as
					the old image). The remaining space will be filled with the background color. The
					resulting image will match the constraining dimensions.</dd>

					<dt>stretch</dt>
					<dd>Stretches the image to fit the constraining dimensions exactly. The resulting image
					will fill the dimensions, and will not maintain the aspect ratio of the input image.</dd>

					<dt>crop</dt>
					<dd>Resizes the image to fill the width and height boundaries and crops any excess
					image data. The resulting image will match the width and height constraints without
					distorting the image. See the crop page for more information.</dd>

					<dt>crop-<code>position</code></dt>
					<dd>You can also set where the image is cropped by adding a crop position.
					Example: <code>crop-top-left</code></dd>

					<dt>crop-<code>x</code>-<code>y</code></dt>
					<dd>You can be more specific about the exact crop position using a focal point.
					This is defined using two offset percentages: <code>crop-40-60</code>.</dd>

					<dt>crop-<code>x</code>-<code>y</code>-<code>zoom</code></dt>
					<dd>You may also choose to zoom into your focal point by providing a third value: a float
					between 1 and 100. Each full step is the equivalent of a 100% zoom. (eg. x%-y%-2 is the
					equivalent of viewing the image at 200%). The suggested range is 1-10.</dd>

					<dt>crop-focalpoint</dt>
					<dd>Since every image is different, you can store the focal point of an image into the CMS.
					when using this option, the focal point stored within the CMS for the specified image will be used.
					This is the same as defining the focal points above. However, it is dynamic since the values are
					pulled from the CMS.</dd>

					<dt>crop-focalpoint-<code>zoom</code></dt>
					<dd>Just like the explicit option above, you can zoom into the focal point that is stored
					within the CMS.</dd>
				</dl>
			</section>
		</dialog>

	</main>
{% endblock %}

{% block bodyBelow %}
	<script type="module" src="{{ cms.api }}/assets/imageworks-builder.js"></script>
{% endblock %}