{#--------------------------------#}
{# Template Macros               #}
{#--------------------------------#}

{# Input Field #}
{% macro input(name, value = "", data="text", type = "text", label = "", placeholder = "", help = "") %}

    <div class="form-field {{ data }}-field">
        <label for="input-{{ name }}">{{ label }}</label>
        <div class="form-group">
            <input
                id="input-{{ name }}"
                type="{{ type }}"
                name="{{ name }}"
                value="{{ value }}"
                placeholder="{{ placeholder }}"
                aria-describedby="help-{{ name }}">
            <div class="form-group-label"></div>
        </div>
        <p class="help" id="help-{{ name }}">{{ help }}</p>
    </div>

{% endmacro %}

{# Textarea Field #}
{% macro textarea(name, value, rows = 10, cols = 40) %}
    <textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols }}">{{ value|e }}</textarea>
{% endmacro %}

{# Hidden Field #}
{% macro hidden(name, value) %}

    <div class="form-field">
        <input type="hidden" name="{{ name }}" value="{{ value }}">
    </div>

{% endmacro %}

{#--------------------------------#}
{# Input Macros                  #}
{#--------------------------------#}

{% macro datetime(name, value) %}
{% endmacro %}

{% macro time(name, value) %}
{% endmacro %}

{% macro number(name, value) %}
{% endmacro %}

{% macro slug(name = "id", value="", label="ID", placeholder = "Object ID", help = "This is the ID of your object") %}
    {{ input(name, value, "slug", "text", label, placeholder, help) }}
{% endmacro %}

{% macro email(name, value) %}
{% endmacro %}

{% macro url(name, value) %}
{% endmacro %}

{% macro password(name, value) %}
{% endmacro %}

{% macro list(name, value) %}
{% endmacro %}

{% macro currency(name, value) %}
{% endmacro %}


{#--------------------------------#}
{# Select Macros                 #}
{#--------------------------------#}

{% macro select(name, value) %}
{% endmacro %}

{% macro multiselect(name, value) %}
{% endmacro %}

{#--------------------------------#}
{# Dropzone Macros               #}
{#--------------------------------#}
{% macro depot(name, value) %}
{% endmacro %}

{% macro file(name, value) %}
{% endmacro %}

{% macro image(name, value) %}
{% endmacro %}

{% macro gallery(name, value) %}
{% endmacro %}



{% macro styledtext(name, value) %}
{% endmacro %}

{% macro markdown(name, value) %}
{% endmacro %}

{% macro color(name, value) %}
{% endmacro %}

{% macro rangeslider(name, value) %}
{% endmacro %}

{% macro radio(name, value) %}
{% endmacro %}

{% macro toggle(name, value) %}
{% endmacro %}

{% macro checkbox(name, value) %}
{% endmacro %}


{% macro deck(name, value) %}
{% endmacro %}

{% macro blog() %}
{% endmacro %}

https://choices-js.github.io/Choices/
https://flatpickr.js.org/examples/
https://floating-ui.com/docs/tutorial
http://stryzhevskyi.github.io/rangeSlider/
https://sortablejs.github.io/Sortable/
https://projects.verou.me/awesomplete/
https://www.w3schools.com/howto/howto_css_switch.asp
https://codepen.io/coldsoul/pen/pbdvPa
https://codepen.io/triss90/pen/XNEdRe
https://codepen.io/mblode/pen/VwGxaO

https://hslpicker.com/

https://felixg.io/products/datedropper-javascript
https://github.com/wbotelhos/raty
