{% extends "admin-layout.twig" %}

{% block title %}{{ t('wizard.datapath_title') }}{% endblock %}

{% block content %}
<main class="login-layout admin-layout">
	<section class="setup-header">
		<h1>{{ t('wizard.datapath_title') }}</h1>
		<p>{{ t('wizard.datapath_desc') }}</p>
	</section>

	{# Display flash messages #}
	{% for message in flash.get('error') %}
		<div class="cms-error" role="alert">
			{{ message }}
		</div>
	{% endfor %}

	{% for message in flash.get('success') %}
		<div class="cms-success" role="alert">
			{{ message }}
		</div>
	{% endfor %}

	{% set formFields %}
		{{ cms.form.field("radio", "location", {
			label    : t('wizard.datapath_label'),
			required : true,
			value    : "docroot",
			options  : [
				{value: "docroot", label: t('wizard.datapath_docroot') ~ " <span class='path-preview'>" ~ docrootPath ~ "</span>"},
				{value: "default", label: t('wizard.datapath_above') ~ " <span class='path-preview'>" ~ defaultPath ~ "</span>"},
				{value: "custom", label: t('wizard.datapath_custom')}
			]
		}) }}

		{{ cms.form.field("text", "customPath", {
			help        : t('wizard.datapath_custom_help'),
			placeholder : "/path/to/custom-folder",
			value       : customPath,
			class       : "icon-folder",
			settings    : {
				visibility : {
					watch : "location",
					value : "custom"
				}
			}
		}) }}
	{% endset %}

	{{ cms.form.simple(cms.base ~ '/setup/data-path', formFields, {
		class  : "setup-form",
		method : "POST",
		label  : t('wizard.datapath_btn'),
		ajax   : false,
	}) }}
</main>

<style>
.help {
	width               : 100%;
	background-position : 0 3px;
}
.path-preview {
	font-size            : 0.875em;
	font-style           : italic;
	color                : oklch(var(--totalform-darkgray));
	margin-top           : 0.25rem;
	padding-inline-start : 0.5rem;
}
</style>
{% endblock %}
