<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<meta name="robots" content="noindex, nofollow">
	<title>Total CMS Admin</title>

    <style>
    html {
        box-sizing : border-box;
        font-size  : 100%
    }
    *,
    ::after,
    ::before {
        box-sizing : inherit
    }
    body {
        font-family : ui-sans-serif, system-ui, -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        -webkit-font-smoothing : antialiased;
    }
    .container {
        max-width : 1000px;
        margin    : 0 auto;
    }
    </style>

	<link rel="stylesheet" href="{{ totalcms.assetsDir }}/forms.css"/>
    <link rel="stylesheet" media="print" onload="this.media='all'" href="{{ totalcms.assetsDir }}/codemirror/codemirror.css"/>
    <link rel="stylesheet" media="print" onload="this.media='all'" href="{{ totalcms.assetsDir }}/froala/froala_editor.min.css"/>
    <link rel="stylesheet" media="print" onload="this.media='all'" href="{{ totalcms.assetsDir }}/froala/froala_style.min.css"/>
    <link rel="stylesheet" media="print" onload="this.media='all'" href="{{ totalcms.assetsDir }}/froala/plugins/code_view.min.css"/>
    <link rel="stylesheet" media="print" onload="this.media='all'" href="{{ totalcms.assetsDir }}/froala/plugins/image_manager.min.css"/>
    <link rel="stylesheet" media="print" onload="this.media='all'" href="{{ totalcms.assetsDir }}/froala/plugins/image.min.css"/>
    <link rel="stylesheet" media="print" onload="this.media='all'" href="{{ totalcms.assetsDir }}/froala/plugins/table.min.css"/>
    <link rel="stylesheet" media="print" onload="this.media='all'" href="{{ totalcms.assetsDir }}/froala/plugins/video.min.css"/>

	{% block head %}{% endblock %}
</head>
<body>

	<main class="container">
		{% block content %}{% endblock %}
	</main>

	<script src="{{ totalcms.assetsDir }}/codemirror/codemirror.js"></script>
	<script src="{{ totalcms.assetsDir }}/codemirror/xml.js"></script>
	<script src="{{ totalcms.assetsDir }}/dompurify/purify.min.js"></script>
	<script src="{{ totalcms.assetsDir }}/froala/froala_editor.min.js"></script>
	<script src="{{ totalcms.assetsDir }}/froala/plugins/align.min.js"></script>
	<script src="{{ totalcms.assetsDir }}/froala/plugins/code_beautifier.min.js"></script>
	<script src="{{ totalcms.assetsDir }}/froala/plugins/code_view.min.js"></script>
	<script src="{{ totalcms.assetsDir }}/froala/plugins/draggable.min.js"></script>
	<script src="{{ totalcms.assetsDir }}/froala/plugins/image.min.js"></script>
	<script src="{{ totalcms.assetsDir }}/froala/plugins/image_manager.min.js"></script>
	<script src="{{ totalcms.assetsDir }}/froala/plugins/link.min.js"></script>
	<script src="{{ totalcms.assetsDir }}/froala/plugins/lists.min.js"></script>
	<script src="{{ totalcms.assetsDir }}/froala/plugins/paragraph_format.min.js"></script>
	<script src="{{ totalcms.assetsDir }}/froala/plugins/paragraph_style.min.js"></script>
	<script src="{{ totalcms.assetsDir }}/froala/plugins/table.min.js"></script>
	<script src="{{ totalcms.assetsDir }}/froala/plugins/video.min.js"></script>
	<script src="{{ totalcms.assetsDir }}/froala/plugins/url.min.js"></script>
	<script src="{{ totalcms.assetsDir }}/froala/plugins/entities.min.js"></script>

	<script type="module" src="{{ totalcms.assetsDir }}/admin.js"></script>

	{% block bodyBelow %}{% endblock %}
</body>
</html>
