{#--------------------------------#}
{# Template Macros               #}
{#--------------------------------#}

{#---------------------------------------------#}
{# Help Classes                               #}
{#                                            #}
{# Triggers: help-on-focus, help-on-hover     #}
{# Styles: help-box, help-label, help-tooltip #}
{#---------------------------------------------#}

{% macro start(collection, args = {}) %}
	{% set args = {
		method : 'post',
		class  : '',
		id     : '',
	} | merge(args) %}

	{# Store the collection for this form so that other macros and get it #}
	{{ totalcms.storeData("collection", collection) }}

	{%set id = args.id|default(getParams.id) %}

	{% if id %}
		{{ totalcms.storeData("object", totalcms.object(collection, id)) }}
		<form class="totalform {{args.class}}" data-method="{{args.method}}"
			data-api="{{totalcms.api}}/collection/{{collection}}/{{id}}">
	{% else %}
		<form class="totalform {{args.class}}" data-method="{{args.method}}"
			data-api="{{totalcms.api}}/collection/{{collection}}">
	{% endif %}
{% endmacro %}

{% macro end() %}
	{{ totalcms.clearStorage() }}
	</form>
{% endmacro %}


{% macro fieldstart(field, uuid, args = {}) %}
	{% set args = {
		class : '',
		label : false,
	} | merge(args) %}

    <div class="form-field {{ field }}-field {{ args.class }}">

        {% if args.label %}
        <label for="field-{{ uuid }}">{{ args.label }}</label>
        {% endif %}

        <div class="form-group">
{% endmacro %}

{% macro fieldend(uuid, args = {}) %}
	{% set args = {
		icon : false,
		help : false,
	} | merge(args) %}

            {% if args.icon %}<div class="form-group-icon"></div>{% endif %}
        </div>
        {% if args.help %}
        <p class="help" id="help-{{uuid}}">{{ args.help }}</p>
        {% endif %}
    </div>
{% endmacro %}

{#
    Input Field Macro
    name        = name of the field
    field        = type of the field data from Total CMS: text, number, date, etc
    type       = type of the input
    class       = classes added to the field
    value       = value of the field
    label       = label of the field
    placeholder = placeholder of the field
    help        = help text of the field
    icon        = show icon
    required    = required field
    min         = minimum value
    max         = maximum value
    step        = step value
#}
{% macro input(name, args = {}) %}
    {% set uuid       = uniqid() %}
    {% set collection = args.collection|default(totalcms.getData("collection")) %}
    {% set object     = args.object|default(totalcms.getData("object")) %}

	{# args priority: args, formProps, defaults #}
	{% set props = totalcms.formProps(name, collection, object.id|default("")) %}
	{% set args  = {
		field       : "text",
		type        : "text",
		class       : "",
		value       : "",
		label       : "",
		placeholder : "",
		help        : false,
		icon        : true,
		required    : false,
		min         : false,
		max         : false,
		step        : false,
	} | merge(props) | merge(args) %}

    {{ _self.fieldstart(args.field, uuid, args) }}
    <input
        id="field-{{ uuid }}"
        type="{{ args.type }}"
        name="{{ name }}"
        {% if args.min %}min="{{ args.min }}"{% endif %}
        {% if args.max %}max="{{ args.max }}"{% endif %}
        {% if args.step %}step="{{ args.step }}"{% endif %}
        {% if args.placeholder %}placeholder="{{ args.placeholder|e }}"{% endif %}
        {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
        {% if args.required %}required{% endif %}
		value="{{ object ? attribute(object, name) : args.value|e }}"
    >
    {{ _self.fieldend(uuid, args) }}
{% endmacro %}

{#
    Textarea Field Macro
    name        = name of the field
    type        = type of the field data from Total CMS: text, number, date, etc
    class       = classes added to the field
    value       = value of the field
    label       = label of the field
    placeholder = placeholder of the field
    help        = help text of the field
    icon        = show icon
    required    = required field
    rows        = number of rows
#}
{% macro textarea(name, args = {}) %}
    {% set uuid       = uniqid() %}
    {% set collection = args.collection|default(totalcms.getData("collection")) %}
    {% set object     = args.object|default(totalcms.getData("object")) %}

	{# args priority: args, formProps, defaults #}
	{% set props = totalcms.formProps(name, collection, object.id|default("")) %}
	{% set args = {
		field       : "text",
		class       : "",
		value       : "",
		label       : "",
		placeholder : "",
		help        : false,
		icon        : true,
		required    : false,
		rows        : 10,
	} | merge(props) | merge(args) %}

    {{ _self.fieldstart(args.field, uuid, args) }}
    <textarea
        id="field-{{ uuid }}"
        name="{{ name }}"
        rows="{{ args.rows }}"
        {% if args.placeholder %}placeholder="{{ args.placeholder }}"{% endif %}
        {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
        {% if args.required %}required{% endif %}
    >{{ object ? attribute(object, name) : args.value }}</textarea>
    {{ _self.fieldend(uuid, args) }}

{% endmacro %}

{#
    Select Field Macro
    name        = name of the field
    type        = type of the field data from Total CMS: text, number, date, etc
    class       = classes added to the field
    value       = value of the field
    label       = label of the field
    placeholder = placeholder of the field
    help        = help text of the field
    icon        = show icon
    required    = required field
    options     = array of options
    multiple    = enable multiple select
    rows        = number of rows for multi-select
#}
{% macro select(name, options = [], args = {}) %}
    {% set uuid       = uniqid() %}
    {% set collection = args.collection|default(totalcms.getData("collection")) %}
    {% set object     = args.object|default(totalcms.getData("object")) %}

	{# args priority: args, formProps, defaults #}
	{% set props = totalcms.formProps(name, collection, object.id|default("")) %}
	{% set args = {
		field       : "select",
		class       : "",
		value       : "",
		label       : "",
		placeholder : "",
		help        : false,
		icon        : true,
		required    : false,
	} | merge(props) | merge(args) %}

    {{ _self.fieldstart(args.field, uuid, args) }}
    <select
        id="field-{{ uuid }}"
        name="{{ name }}"
		{% if object %}
			value="{{ attribute(object, name)|e }}"
		{% else %}
        	{% if args.value %}value="{{ args.value|e }}"{% endif %}
		{% endif %}
        {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
        {% if args.multiple %}multiple size="{{ args.rows }}"{% endif %}
        {% if args.required %}required{% endif %}
    >
		{% if args.placeholder %}
		<option value="">{{ args.placeholder }}</option>
		{% endif %}

		{% set value = object ? attribute(object, name) : args.value %}

		{% for option in options %}
		<option value="{{ option.value|e }}" {%if option.value == value %}selected{% endif %}>{{ option.label|e }}</option>
		{% endfor %}
    </select>
    {{ _self.fieldend(uuid, args) }}

{% endmacro %}

{% macro selectmultiple(name, options = [], args = {}) %}
    {% set uuid       = uniqid() %}
    {% set collection = args.collection|default(totalcms.getData("collection")) %}
    {% set object     = args.object|default(totalcms.getData("object")) %}

	{# args priority: args, formProps, defaults #}
	{% set props = totalcms.formProps(name, collection, object.id|default("")) %}
	{% set args = {
		field       : "select",
		class       : "",
		label       : "",
		placeholder : "",
		value       : [],
		help        : false,
		icon        : true,
		required    : false,
		rows        : 10,
	} | merge(props) | merge(args) %}

    {{ _self.fieldstart(args.field, uuid, args) }}
    <select multiple
        id="field-{{ uuid }}"
        name="{{ name }}"
        size="{{ args.rows }}"
        {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
        {% if args.required %}required{% endif %}
    >
		{% if args.placeholder %}
		<option disabled>{{ args.placeholder|e }}</option>
		{% endif %}

		{# Get the default selected value #}
		{% set value = object ? attribute(object, name) : args.value %}

        {% for option in options %}
        <option value="{{ option.value|e }}" {% if option.value in values %}selected{% endif %}>{{ option.label|e }}</option>
        {% endfor %}
    </select>
    {{ _self.fieldend(uuid, args) }}
{% endmacro %}


{# Hidden Field #}
{% macro hidden(name, args = {}) %}
    {% set object = args.object|default(totalcms.getData("object")) %}

	{% set args = {
		value  : "",
	} | merge(args) %}

    <div class="form-field hidden-field">
        <input type="hidden" name="{{ name }}" value="{{ object ? attribute(object, name) : args.value|e }}">
    </div>

{% endmacro %}


{#--------------------------------
  Date Macro
--------------------------------#}
{% macro date(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		field : "date",
		type  : "date",
	}) %}

    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  Datetime Macros
--------------------------------#}
{% macro datetime(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		field : "date",
		type  : "datetime-local",
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  Time Macro
--------------------------------#}
{% macro time(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		field : "date",
		type  : "time",
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  Email Macro
--------------------------------#}
{% macro email(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		field : "email",
		type  : "email",
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  Password Macro
--------------------------------#}
{% macro password(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		field : "password",
		type  : "password",
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  ID Macro
--------------------------------#}
{% macro id(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		field    : "id",
		type     : "text",
		required : true,
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  URL Macro
--------------------------------#}
{% macro url(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		field : "url",
		type  : "url",
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  Telephone Macro
--------------------------------#}
{% macro tel(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		field : "tel",
		type  : "tel",
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  Text Macro
--------------------------------#}
{% macro text(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		field : "text",
		type  : "text",
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  Number Macro
--------------------------------#}
{% macro number(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		field : "number",
		type  : "number",
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  Range Macro
--------------------------------#}
{% macro rangeslider(name, args = {}) %}
    {% set uuid       = uniqid() %}
    {% set collection = args.collection|default(totalcms.getData("collection")) %}
    {% set object     = args.object|default(totalcms.getData("object")) %}

	{# args priority: args, formProps, defaults #}
	{% set props = totalcms.formProps(name, collection, object.id|default("")) %}
	{% set args = {
		class       : "",
		value       : "",
		label       : "",
		placeholder : "",
		help        : false,
		required    : false,
		min         : false,
		max         : false,
		step        : false,
		icon		: false,
	} | merge(props) | merge(args) %}

	{% set callback  = "document.getElementById('value-"~uuid~"').innerHTML = this.value" %}

    {{ _self.fieldstart("range", uuid, args) }}
    <input
        id="field-{{ uuid }}"
        type="range"
        name="{{ name }}"
		value="{{ object ? attribute(object, name) : args.value|e }}"
		onchange="{{ callback }}"
		ondrag="{{ callback }}"
		onmousemove="{{ callback }}"
        {% if args.min %}min="{{ args.min }}"{% endif %}
        {% if args.max %}max="{{ args.max }}"{% endif %}
        {% if args.step %}step="{{ args.step }}"{% endif %}
        {% if args.placeholder %}placeholder="{{ args.placeholder|e }}"{% endif %}
        {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
        {% if args.required %}required{% endif %}
    >
	<div id="value-{{ uuid }}" class="range-value">{{ args.value }}</div>
    {{ _self.fieldend(uuid, args) }}
{% endmacro %}

{#--------------------------------
  Color Macro
--------------------------------#}
{% macro color(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		field : "color",
		type  : "color",
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  List Macro
--------------------------------#}
{% macro list(name, options, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		field : "list",
		rows : 6,
	}) %}
    {{ _self.selectmultiple(name, options, args) }}
{% endmacro %}

{#--------------------------------
  Checkbox Macro
--------------------------------#}
{% macro checkbox(name, args = {}) %}
    {% set uuid       = uniqid() %}
    {% set collection = args.collection|default(totalcms.getData("collection")) %}
    {% set object     = args.object|default(totalcms.getData("object")) %}

	{# args priority: args, formProps, defaults #}
	{% set props = totalcms.formProps(name, collection, object.id|default("")) %}
	{% set args = {
		class       : "",
		label       : "",
		help        : false,
		required    : false,
	} | merge(args) %}

    <div class="form-field check-field {{ args.class }}">
        <input
            id="field-{{ uuid }}"
            name="{{ name }}"
            type="checkbox"
            {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
            {% if args.required %}required{% endif %}
        >
        <label for="field-{{ uuid }}">{{ args.label }}</label>
        {% if args.help %}
        <p class="help" id="help-{{uuid}}">{{ args.help }}</p>
        {% endif %}
    </div>

{% endmacro %}

{#--------------------------------
  Toggle Macro
--------------------------------#}
{% macro toggle(name, args = {}) %}
    {% set uuid       = uniqid() %}
    {% set collection = args.collection|default(totalcms.getData("collection")) %}
    {% set object     = args.object|default(totalcms.getData("object")) %}

	{# args priority: args, formProps, defaults #}
	{% set props = totalcms.formProps(name, collection, object.id|default("")) %}
	{% set args = {
		class       : "",
		label       : "",
		help        : false,
		required    : false,
	} | merge(args) %}

    <div class="form-field toggle-field {{ args.class }}">
        {% if args.label %}
        <label for="field-{{ uuid }}">{{ args.label }}</label>
        {% endif %}
        <div class="switch">
            <input
                id="field-{{ uuid }}"
                name="{{ name }}"
                type="checkbox"
                {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
                {% if args.required %}required{% endif %}
            >
            <label for="field-{{ uuid }}" aria-hidden="true"></label>
        </div>
        {% if args.help %}
        <p class="help" id="help-{{uuid}}">{{ args.help }}</p>
        {% endif %}
    </div>

{% endmacro %}

{#--------------------------------
  Radio Macro
--------------------------------#}
{% macro radio(name, options = [], args = {}) %}
    {% set uuid       = uniqid() %}
    {% set collection = args.collection|default(totalcms.getData("collection")) %}
    {% set object     = args.object|default(totalcms.getData("object")) %}

	{# args priority: args, formProps, defaults #}
	{% set props = totalcms.formProps(name, collection, object.id|default("")) %}
	{% set args = {
		class       : "",
		label       : "",
		help        : false,
		required    : false,
	} | merge(args) %}

    <div class="form-field radio-field {{ class }}">

        {% if args.label %}
        <label>{{ args.label }}</label>
        {% endif %}

        {% for option in options %}
        <div class="radio">
            <input
                id="field-{{ uuid }}-{{ loop.index }}"
                name="{{ name }}"
                type="radio"
                value="{{ option.value }}"
                {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
                {% if args.required %}required{% endif %}
                {% if option.selected %}checked{% endif %}
            >
            <label for="field-{{ uuid }}-{{ loop.index }}" class="radio-label">{{ option.label }}</label>
        </div>
        {% endfor %}

        {% if args.help %}
        <p class="help" id="help-{{uuid}}">{{ args.help }}</p>
        {% endif %}
    </div>

{% endmacro %}

{#--------------------------------
  Styled Text Macro
--------------------------------#}
{% macro styledtext(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		field  : "styledtext",
	}) %}
    {{ _self.textarea(name, args) }}
{% endmacro %}

{#--------------------------------
  SVG Macro
--------------------------------#}
{% macro svg(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		field  : "svg",
	}) %}
    {{ _self.textarea(name, args) }}
{% endmacro %}

{#--------------------------------
  Markdown Macro
--------------------------------#}
{% macro markdown(name, args = {}) %}
    {# TODO: create JS lib that adds toolbar + preview #}
	{# Override args with static values #}
	{% set args =  args | merge({
		field  : "markdown",
	}) %}
    {{ _self.textarea(name, args) }}
{% endmacro %}

{#--------------------------------#}
{# Dropzone Macros               #}
{#--------------------------------#}
{% macro depot(name, value) %}
{% endmacro %}

{% macro file(name, value) %}
{% endmacro %}

{% macro image(name, value) %}
{% endmacro %}

{% macro gallery(name, value) %}
{% endmacro %}

{% macro deck(name, value) %}
{% endmacro %}

{% macro blog() %}
{% endmacro %}

{#--
https://sortablejs.github.io/Sortable/
https://codepen.io/mblode/pen/VwGxaO

https://hslpicker.com/

https://felixg.io/products/datedropper-javascript
https://github.com/wbotelhos/raty
--#}

{#--------------------------------#}
{# Text Forms                     #}
{#--------------------------------#}
{% macro textForm(id, args = {}, collection = "text") %}

	{{ _self.start(collection, { method:'post', id:id }) }}

		{{ _self.hidden('id', { value:id }) }}

		{% if args.field == 'textarea' %}
			{{ _self.textarea('text', args) }}
		{% else %}
			{{ _self.text('text', args) }}
		{% endif %}

	{{ _self.end() }}
{% endmacro %}

{% macro textareaForm(id, args = {}, collection = "text",) %}
	{{ _self.textForm(id, {field:'textarea'}, collection) }}
{% endmacro %}

{% macro emailForm(id, args = {}, collection = "email") %}
	{{ _self.start(collection, { method:'post', id:id }) }}
		{{ _self.hidden('id', { value:id }) }}
		{{ _self.email('email', args) }}
	{{ _self.end() }}
{% endmacro %}

{% macro dateForm(id, args = {}, collection = "date") %}
	{{ _self.start(collection, { method:'post', id:id }) }}
		{{ _self.hidden('id', { value:id }) }}
		{{ _self.date('date', args) }}
	{{ _self.end() }}
{% endmacro %}

{% macro datetimeForm(id, args = {}, collection = "date") %}
	{{ _self.start(collection, { method:'post', id:id }) }}
		{{ _self.hidden('id', { value:id }) }}
		{{ _self.datetime('datetime', args) }}
	{{ _self.end() }}
{% endmacro %}

{% macro colorForm(id, args = {}, collection = "color") %}
	{{ _self.start(collection, { method:'post', id:id }) }}
		{{ _self.hidden('id', { value:id }) }}
		{{ _self.color('color', args) }}
	{{ _self.end() }}
{% endmacro %}

{% macro numberForm(id, args = {}, collection = "number") %}
	{{ _self.start(collection, { method:'post', id:id }) }}
		{{ _self.hidden('id', { value:id }) }}
		{{ _self.number('number', args) }}
	{{ _self.end() }}
{% endmacro %}

{% macro styledtextForm(id, args = {}, collection = "styledtext") %}
	{{ _self.start(collection, { method:'post', id:id }) }}
		{{ _self.hidden('id', { value:id }) }}
		{{ _self.styledtext('styledtext', args) }}
	{{ _self.end() }}
{% endmacro %}

{% macro svgForm(id, args = {}, collection = "svg") %}
	{{ _self.start(collection, { method:'post', id:id }) }}
		{{ _self.hidden('id', { value:id }) }}
		{{ _self.svg('svg', args) }}
	{{ _self.end() }}
{% endmacro %}

{% macro toggleForm(id, args = {}, collection = "toggle") %}
	{{ _self.start(collection, { method:'post', id:id }) }}
		{{ _self.hidden('id', { value:id }) }}
		{{ _self.toggle('toggle', args) }}
	{{ _self.end() }}
{% endmacro %}

{% macro urlForm(id, args = {}, collection = "url") %}
	{{ _self.start(collection, { method:'post', id:id }) }}
		{{ _self.hidden('id', { value:id }) }}
		{{ _self.url('url', args) }}
	{{ _self.end() }}
{% endmacro %}
