{#--------------------------------#}
{# Template Macros               #}
{#--------------------------------#}

{#---------------------------------------------#}
{# Help Classes                               #}
{#                                            #}
{# Triggers: help-on-focus, help-on-hover     #}
{# Styles: help-box, help-label, help-tooltip #}
{#---------------------------------------------#}

{% macro start(collection, args = {}) %}
	{% set args = {
		method : 'post',
		id     : '',
	} | merge(args) %}

	{% if args.id %}
		<form class="totalform" data-method="{{args.method}}"
			data-api="{{totalcms.api}}/collection/{{collection}}/{{args.id}}">
	{% else %}
		<form class="totalform" data-method="{{args.method}}"
			data-api="{{totalcms.api}}/collection/{{collection}}">
	{% endif %}
{% endmacro %}

{% macro end() %}
	</form>
{% endmacro %}


{% macro fieldstart(type, args = {}) %}
	{% set args = {
		class : '',
		label : false,
		uuid  : '',
	} | merge(args) %}

    <div class="form-field {{ type }}-field {{ args.class }}">

        {% if args.label %}
        <label for="field-{{ args.uuid }}">{{ args.label }}</label>
        {% endif %}

        <div class="form-group">
{% endmacro %}

{% macro fieldend(args = {}) %}
	{% set args = {
		icon : false,
		help : false,
		uuid : '',
	} | merge(args) %}

            {% if args.icon %}<div class="form-group-icon"></div>{% endif %}
        </div>
        {% if args.help %}
        <p class="help" id="help-{{args.uuid}}">{{ args.help }}</p>
        {% endif %}
    </div>
{% endmacro %}

{#
    Input Field Macro
    name        = name of the field
    type        = type of the field data from Total CMS: text, number, date, etc
    input       = type of the input
    class       = classes added to the field
    value       = value of the field
    label       = label of the field
    placeholder = placeholder of the field
    help        = help text of the field
    icon        = show icon
    required    = required field
    min         = minimum value
    max         = maximum value
    step        = step value
#}
{% macro input(name, args = {}) %}
	{% set args = {
		type        : "text",
		input       : "text",
		class       : "",
		value       : "",
		label       : "",
		placeholder : "",
		object      : false,
		help        : false,
		icon        : true,
		required    : false,
		min         : false,
		max         : false,
		step        : false,
	} | merge(args) %}

    {% set uuid = uniqid() %}

    {{ _self.fieldstart(args.type, {class: args.class, label: args.label, uuid: uuid}) }}
    <input
        id="field-{{ uuid }}"
        type="{{ args.input }}"
        name="{{ name }}"
        {% if args.min %}min="{{ args.min }}"{% endif %}
        {% if args.max %}max="{{ args.max }}"{% endif %}
        {% if args.step %}step="{{ args.step }}"{% endif %}
        {% if args.placeholder %}placeholder="{{ args.placeholder|e }}"{% endif %}
        {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
        {% if args.required %}required{% endif %}
		{% if args.object %}
			value="{{ attribute(args.object, name)|e }}"
		{% else %}
        	{% if args.value %}value="{{ args.value|e }}"{% endif %}
		{% endif %}
    >
    {% if args.input == "range" %}
	<div id="value-{{ uuid }}" class="range-value">{{ args.value }}</div>
    {% endif %}
    {{ _self.fieldend({ help:args.help, icon:args.icon, uuid:uuid }) }}
{% endmacro %}

{#
    Textarea Field Macro
    name        = name of the field
    type        = type of the field data from Total CMS: text, number, date, etc
    class       = classes added to the field
    value       = value of the field
    label       = label of the field
    placeholder = placeholder of the field
    help        = help text of the field
    icon        = show icon
    required    = required field
    rows        = number of rows
#}
{% macro textarea(name, args = {}) %}
	{% set args = {
		type        : "text",
		class       : "",
		value       : "",
		label       : "",
		placeholder : "",
		object      : false,
		help        : false,
		icon        : true,
		required    : false,
		rows        : 10,
	} | merge(args) %}

    {% set uuid = uniqid() %}

    {{ _self.fieldstart(args.type, {class: args.class, label: args.label, uuid: uuid}) }}
    <textarea
        id="field-{{ uuid }}"
        name="{{ name }}"
        rows="{{ args.rows }}"
        {% if args.placeholder %}placeholder="{{ args.placeholder }}"{% endif %}
        {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
        {% if args.required %}required{% endif %}
    >{% if args.object %}{{ attribute(args.object, name) }}{% else %}{{ args.value }}{% endif %}</textarea>
    {{ _self.fieldend({ help:args.help, icon:args.icon, uuid:uuid }) }}

{% endmacro %}

{#
    Select Field Macro
    name        = name of the field
    type        = type of the field data from Total CMS: text, number, date, etc
    class       = classes added to the field
    value       = value of the field
    label       = label of the field
    placeholder = placeholder of the field
    help        = help text of the field
    icon        = show icon
    required    = required field
    options     = array of options
    multiple    = enable multiple select
    rows        = number of rows for multi-select
#}
{% macro select(name, options = [], args = {}) %}
	{% set args = {
		type        : "select",
		class       : "",
		value       : "",
		label       : "",
		placeholder : "",
		object      : false,
		help        : false,
		icon        : true,
		required    : false,
		multiple    : false,
		rows        : 10,
	} | merge(args) %}

    {% set uuid = uniqid() %}

    {{ _self.fieldstart(args.type, {class: args.class, label: args.label, uuid: uuid}) }}
    <select
        id="field-{{ uuid }}"
        name="{{ name }}"
		{% if args.object %}
			value="{{ attribute(args.object, name)|e }}"
		{% else %}
        	{% if args.value %}value="{{ args.value|e }}"{% endif %}
		{% endif %}
        {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
        {% if args.multiple %}multiple size="{{ args.rows }}"{% endif %}
        {% if args.required %}required{% endif %}
    >
        {# select and select-mulitple have different ways of supporting placeholders #}
        {% if args.multiple %}
            {% if args.placeholder %}
            <option disabled>{{ args.placeholder|e }}</option>
            {% endif %}
        {% else %}
            {% if args.placeholder %}
            {# <option {% if not args.value %}selected{% endif %} value="">{{ args.placeholder }}</option> #}
            <option value="">{{ args.placeholder }}</option>
            {% endif %}
        {% endif %}

        {% for option in options %}
        <option value="{{ option.value|e }}" {%if option.value == args.value %}selected{% endif %}>{{ option.label|e }}</option>
        {% endfor %}
    </select>
    {{ _self.fieldend({ help:args.help, icon:args.icon, uuid:uuid }) }}

{% endmacro %}

{# Hidden Field #}
{% macro hidden(name, args = {}) %}
	{% set args = {
		value  : "",
		object : false,
	} | merge(args) %}

    <div class="form-field hidden-field">
        <input type="hidden" name="{{ name }}"
			{% if args.object %}
				value="{{ attribute(args.object, name)|e }}"
			{% else %}
        		{% if args.value %}value="{{ args.value|e }}"{% endif %}
			{% endif %}
		>
    </div>

{% endmacro %}


{#--------------------------------
  Date Macro
--------------------------------#}
{% macro date(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		type  : "date",
		input : "date",
	}) %}

    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  Datetime Macros
--------------------------------#}
{% macro datetime(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		type  : "date",
		input : "datetime-local",
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  Time Macro
--------------------------------#}
{% macro time(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		type  : "date",
		input : "time",
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  Email Macro
--------------------------------#}
{% macro email(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		type  : "email",
		input : "email",
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  Password Macro
--------------------------------#}
{% macro password(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		type  : "password",
		input : "password",
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  ID Macro
--------------------------------#}
{% macro id(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		type     : "id",
		input    : "text",
		required : true,
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  URL Macro
--------------------------------#}
{% macro url(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		type  : "url",
		input : "url",
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  Telephone Macro
--------------------------------#}
{% macro tel(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		type  : "tel",
		input : "tel",
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  Text Macro
--------------------------------#}
{% macro text(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		type  : "text",
		input : "text",
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  Number Macro
--------------------------------#}
{% macro number(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		type  : "number",
		input : "number",
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  Range Macro
--------------------------------#}
{% macro rangeslider(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		type  : "range",
		input : "range",
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  Color Macro
--------------------------------#}
{% macro color(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		type  : "color",
		input : "color",
	}) %}
    {{ _self.input(name, args) }}
{% endmacro %}

{#--------------------------------
  List Macro
--------------------------------#}
{% macro list(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		type  : "list",
	}) %}
    {{ _self.select(name, args) }}
{% endmacro %}

{#--------------------------------
  Checkbox Macro
--------------------------------#}
{% macro checkbox(name, args = {}) %}
	{% set args = {
		class       : "",
		label       : "",
		help        : false,
		required    : false,
	} | merge(args) %}

    {% set uuid = uniqid() %}
    {% set type = "check" %}
    {% set input = "checkbox" %}

    <div class="form-field {{ type }}-field {{ args.class }}">
        <input
            id="field-{{ uuid }}"
            name="{{ name }}"
            type="{{ input }}"
            {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
            {% if args.required %}required{% endif %}
        >
        <label for="field-{{ uuid }}">{{ args.label }}</label>
        {% if args.help %}
        <p class="help" id="help-{{uuid}}">{{ args.help }}</p>
        {% endif %}
    </div>

{% endmacro %}

{#--------------------------------
  Toggle Macro
--------------------------------#}
{% macro toggle(name, args = {}) %}
	{% set args = {
		class       : "",
		label       : "",
		help        : false,
		required    : false,
	} | merge(args) %}

    {% set uuid = uniqid() %}
    {% set type = "toggle" %}
    {% set input = "checkbox" %}

    <div class="form-field {{ type }}-field {{ args.class }}">
        {% if args.label %}
        <label for="field-{{ uuid }}">{{ args.label }}</label>
        {% endif %}
        <div class="switch">
            <input
                id="field-{{ uuid }}"
                name="{{ name }}"
                type="{{ input }}"
                {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
                {% if args.required %}required{% endif %}
            >
            <label for="field-{{ uuid }}" aria-hidden="true"></label>
        </div>
        {% if args.help %}
        <p class="help" id="help-{{uuid}}">{{ args.help }}</p>
        {% endif %}
    </div>

{% endmacro %}

{#--------------------------------
  Radio Macro
--------------------------------#}
{% macro radio(name, options = [], args = {}) %}
	{% set args = {
		class       : "",
		label       : "",
		help        : false,
		required    : false,
	} | merge(args) %}

    {% set uuid = uniqid() %}

    <div class="form-field radio-field {{ class }}">

        {% if args.label %}
        <label>{{ args.label }}</label>
        {% endif %}

        {% for option in options %}
        <div class="radio">
            <input
                id="field-{{ uuid }}-{{ loop.index }}"
                name="{{ name }}"
                type="radio"
                value="{{ option.value }}"
                {% if args.help %}aria-describedby="help-{{ uuid }}"{% endif %}
                {% if args.required %}required{% endif %}
                {% if option.selected %}checked{% endif %}
            >
            <label for="field-{{ uuid }}-{{ loop.index }}" class="radio-label">{{ option.label }}</label>
        </div>
        {% endfor %}

        {% if args.help %}
        <p class="help" id="help-{{uuid}}">{{ args.help }}</p>
        {% endif %}
    </div>

{% endmacro %}

{#--------------------------------
  Styled Text Macro
--------------------------------#}
{% macro styledtext(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		type  : "styledtext",
	}) %}
    {{ _self.textarea(name, args) }}
{% endmacro %}

{#--------------------------------
  SVG Macro
--------------------------------#}
{% macro svg(name, args = {}) %}
	{# Override args with static values #}
	{% set args =  args | merge({
		type  : "svg",
	}) %}
    {{ _self.textarea(name, args) }}
{% endmacro %}

{#--------------------------------
  Markdown Macro
--------------------------------#}
{% macro markdown(name, args = {}) %}
    {# TODO: create JS lib that adds toolbar + preview #}
	{# Override args with static values #}
	{% set args =  args | merge({
		type  : "markdown",
	}) %}
    {{ _self.textarea(name, args) }}
{% endmacro %}

{#--------------------------------#}
{# Dropzone Macros               #}
{#--------------------------------#}
{% macro depot(name, value) %}
{% endmacro %}

{% macro file(name, value) %}
{% endmacro %}

{% macro image(name, value) %}
{% endmacro %}

{% macro gallery(name, value) %}
{% endmacro %}

{% macro deck(name, value) %}
{% endmacro %}

{% macro blog() %}
{% endmacro %}

{#--
https://sortablejs.github.io/Sortable/
https://codepen.io/mblode/pen/VwGxaO

https://hslpicker.com/

https://felixg.io/products/datedropper-javascript
https://github.com/wbotelhos/raty
--#}

{#--------------------------------#}
{# Text Form                     #}
{#--------------------------------#}
{% macro textForm(collection, id, args = {}) %}
	{% set object = totalcms.object(collection, id) %}
	{% set args   = args | merge({object : object}) %}

	{{ _self.start(collection, { method: 'post', id: id }) }}

		{{ _self.hidden('id', id) }}
		{% if args.input == 'textarea' %}
			{{ _self.textarea('text', args) }}
		{% else %}
			{{ _self.text('text', args) }}
		{% endif %}

	{{ _self.end() }}
{% endmacro %}
