<!-- Macros for forms -->
{% import "totalform.twig" as form %}

<h2>Help Text - Default Style</h2>

{{ form.start('text') }}
	{{ form.text('text', {
		label       : "Text Field",
		placeholder : "Add your title here",
		help        : "This is some help for this Total CMS form field.",
	}) }}
{{ form.end() }}

{{ form.start('text') }}
	{{ form.text('text', {
		label       : "Text Field",
		placeholder : "Add your title here",
		help        : "This is some help for this Total CMS form field. This is some help for this Total CMS form field.",
	}) }}
{{ form.end() }}


<h2>Help Text - Show on Focus or Hover</h2>

{{ form.start('text', { class:"help-on-focus" }) }}
	{{ form.text('text', {
		label       : "Help on Focus",
		placeholder : "Type Something Here",
		help        : "This is some help for this Total CMS form field.",
	}) }}
{{ form.end() }}

{{ form.start('text', { class:"help-on-hover" }) }}
	{{ form.text('text', {
		label       : "Help on Hover",
		placeholder : "Type Something Here",
		help        : "This is some help for this Total CMS form field.",
	}) }}
{{ form.end() }}



<h2>Help Text - Lower Tooltip <small>(hover + focus)</small></h2>

{{ form.start('text', { class:"help-box help-on-focus help-on-hover" }) }}
	{{ form.text('text', {
		label       : "Text Field",
		placeholder : "Type Something Here",
		help        : "This is some help for this Total CMS form field.",
	}) }}
	{{ form.text('text', {
		label       : "Text Field",
		placeholder : "Type Something Here",
		help        : "This is some help for this Total CMS form field.",
	}) }}
{{ form.end() }}


<h2>Help Text - Inline Label <small>(hover + focus)</small></h2>

{{ form.start('text', { class:"help-label help-on-focus help-on-hover" }) }}
	{{ form.text('text', {
		label       : "Text Field",
		placeholder : "Type Something Here",
		help        : "This is some help for this Total CMS form field.",
	}) }}
	{{ form.text('text', {
		label       : "Text Field",
		placeholder : "Type Something Here",
		help        : "This is some help for this Total CMS form field.",
	}) }}
{{ form.end() }}



<h2>Help Text - Tooltip on Label <small>(hover + focus)</small></h2>

{{ form.start('text', { class:"help-tooltip help-on-focus help-on-hover" }) }}
	{{ form.text('text', {
		label       : "Text Field",
		placeholder : "Type Something Here",
		help        : "This is some help for this Total CMS form field.",
	}) }}
	{{ form.text('text', {
		label       : "Text Field",
		placeholder : "Type Something Here",
		help        : "This is some help for this Total CMS form field.",
	}) }}
{{ form.end() }}



{{ form.start('text', { class:"help-label help-on-focus help-on-hover" }) }}

	<h2>Textarea</h2>
	{{ form.textarea('text', {
		label       : "Plain Text Field",
		placeholder : "Type Something Here",
		help        : "This is some help for this Total CMS form field.",
	}) }}


	<h2>Select</h2>
	{% set options = [
		{value:"dog",     label:"Dog"},
		{value:"cat",     label:"Cat"},
		{value:"hamster", label:"Hamster"},
		{value:"parrot",  label:"Parrot"},
		{value:"spider",  label:"Spider"},
		{value:"goldfish",label:"Goldfish"},
	] %}
	{{ form.select('text', options, {
		label       : "Select",
		placeholder : "Select Something",
		help        : "This is some help for this Total CMS form field.",
	}) }}
	{{ form.multiselect('text', options, {
		label       : "Select Multiple",
		placeholder : "Select As Many As You Like",
		help        : "This is some help for this Total CMS form field.",
		rows        : 6,
	}) }}


	<h2>Date and Time</h2>
	{{ form.date('text', {
		label       : "Date Field",
		placeholder : "Select a Date",
		help        : "This is some help for this Total CMS form field.",
	}) }}
	{{ form.datetime('text', {
		label       : "Date Time Field",
		placeholder : "Select a Date",
		help        : "This is some help for this Total CMS form field.",
	}) }}
	{{ form.time('text', {
		label       : "Time Field",
		placeholder : "Select a Time",
		help        : "This is some help for this Total CMS form field.",
	}) }}


	<h2>Email</h2>
	{{ form.email('text', {
		label       : "Email Field",
		placeholder : "Type your email",
		help        : "This is some help for this Total CMS form field.",
	}) }}


	<h2>Password</h2>
	{{ form.password('text', {
		label       : "Password Field",
		placeholder : "Type your password",
		help        : "This is some help for this Total CMS form field.",
	}) }}


	<h2>Object ID</h2>
	{{ form.id('id', {
		label       : "ID Field",
		placeholder : "Type your Object ID",
		help        : "This is some help for this Total CMS form field.",
	}) }}


	<h2>URL</h2>
	{{ form.url('text', {
		label       : "URL Field",
		placeholder : "Type your URL",
		help        : "This is some help for this Total CMS form field.",
	}) }}


	<h2>Telephone</h2>
	{{ form.phone('text', {
		label       : "Telephone Field",
		placeholder : "Type your telephone",
		help        : "This is some help for this Total CMS form field.",
	}) }}


	<h2>Number</h2>
	{{ form.number('text', {
		label       : "Number Field",
		placeholder : "Type your number",
		help        : "This is some help for this Total CMS form field.",
	}) }}


	<h2>Color</h2>
	{{ form.color('text', {
		label       : "Color Field",
		placeholder : "Type your color",
		help        : "This is some help for this Total CMS form field.",
	}) }}


	<h2>Slider</h2>
	{{ form.rangeslider('text', {
		label       : "Slider Field",
		placeholder : "Type your slider",
		help        : "This is some help for this Total CMS form field.",
		min         : 0,
		max         : 100,
		value       : 10,
	}) }}


	<h2>List</h2>
	{{ form.list('text', options, {
		label       : "List Field",
		placeholder : "Add your tags here",
		help        : "This is some help for this Total CMS form field.",
	}) }}


	<h2>Checkbox</h2>
	{{ form.checkbox('input', {
		label       : "Checkbox Field",
		help        : "This is some help for this Total CMS form field.",
	}) }}


	<h2>Toggle</h2>
	{{ form.toggle('input', {
		label       : "Toggle Field",
		help        : "This is some help for this Total CMS form field.",
	}) }}


	<h2>Radio</h2>
	{{ form.radio('input', options, {
		label       : "Radio Field",
		help        : false,
	}) }}


	<h2>Styled Text</h2>
	{% set styledtextValue %}
		<h1>Total CMS Styled Text</h1>
		<p>The editor can also be initialized on a textarea.</p>
	{% endset %}
	{{ form.styledtext('input', {
		label       : "Styled Text Field",
		placeholder : "Enter your content.",
		help        : "This is some help for this Total CMS form field.",
		value       : styledtextValue,
	}) }}


	<h2>SVG</h2>
	{% set svgValue %}
	<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
		<g>
			<path d="M24 27.569L13.391 21.444V11.886C13.391 8.35396 16.265 5.47996 19.797 5.47996C21.381 5.47996 22.883 6.08296 24.041 7.10796L27.187 5.29196C27.331 5.20896 27.48 5.14296 27.627 5.06696C25.669 2.82796 22.824 1.48096 19.797 1.48096C14.06 1.48096 9.39203 6.14896 9.39203 11.887V23.754L20 29.88L24 27.569Z" fill="url(#nc-open-ai-0_linear_314_2)"></path>
			<path d="M20.909 25.785V13.534L29.187 8.75599C32.246 6.98999 36.171 8.04099 37.938 11.1C38.73 12.472 38.959 14.074 38.65 15.589L41.796 17.405C41.94 17.488 42.072 17.584 42.211 17.673C43.171 14.858 42.915 11.72 41.402 9.09899C38.533 4.12999 32.157 2.42199 27.187 5.29099L16.909 11.224V23.475L20.909 25.785Z" fill="url(#nc-open-ai-1_linear_314_2)"></path>
			<path d="M20.909 22.2149L31.518 16.0889L39.795 20.8689C42.854 22.6349 43.906 26.5599 42.14 29.6189C41.348 30.9909 40.075 31.9899 38.608 32.4799V36.1119C38.608 36.2789 38.591 36.4409 38.583 36.6059C41.5 36.0299 44.091 34.2389 45.604 31.6189C48.473 26.6499 46.764 20.2739 41.795 17.4049L31.518 11.4709L20.908 17.5959L20.909 22.2149Z" fill="url(#nc-open-ai-2_linear_314_2)"></path>
			<path d="M24 20.431L34.609 26.556V36.115C34.609 39.647 31.735 42.521 28.203 42.521C26.619 42.521 25.117 41.918 23.959 40.893L20.813 42.709C20.669 42.792 20.52 42.858 20.373 42.934C22.331 45.173 25.176 46.52 28.203 46.52C33.94 46.52 38.608 41.852 38.608 36.114V24.247L28 18.121L24 20.431Z" fill="url(#nc-open-ai-3_linear_314_2)"></path>
			<path d="M27.091 22.215V34.465L18.813 39.243C15.754 41.009 11.829 39.958 10.062 36.899C9.27001 35.527 9.04101 33.925 9.35001 32.41L6.20401 30.594C6.06001 30.511 5.92801 30.415 5.78901 30.326C4.82901 33.141 5.08501 36.279 6.59801 38.9C9.46701 43.869 15.843 45.577 20.813 42.708L31.091 36.775V24.524L27.091 22.215Z" fill="url(#nc-open-ai-4_linear_314_2)"></path>
			<path d="M27.091 25.785L16.482 31.911L8.20502 27.131C5.14602 25.365 4.09402 21.44 5.86002 18.381C6.65202 17.009 7.92502 16.01 9.39202 15.52V11.888C9.39202 11.721 9.40902 11.559 9.41702 11.394C6.50002 11.97 3.90902 13.761 2.39602 16.381C-0.472976 21.35 1.23602 27.726 6.20502 30.595L16.482 36.529L27.092 30.404L27.091 25.785Z" fill="url(#nc-open-ai-5_linear_314_2)"></path>
			<defs>
				<linearGradient id="nc-open-ai-0_linear_314_2" x1="9.5" y1="23.5" x2="24" y2="27.5" gradientUnits="userSpaceOnUse">
					<stop stop-color="#6AD084"></stop>
					<stop offset="1" stop-color="#3CB34B"></stop>
				</linearGradient>
				<linearGradient id="nc-open-ai-1_linear_314_2" x1="17" y1="11" x2="21" y2="26" gradientUnits="userSpaceOnUse">
					<stop stop-color="#6AD084"></stop>
					<stop offset="1" stop-color="#3CB34B"></stop>
				</linearGradient>
				<linearGradient id="nc-open-ai-2_linear_314_2" x1="31.5" y1="11.5" x2="21" y2="22" gradientUnits="userSpaceOnUse">
					<stop stop-color="#6AD084"></stop>
					<stop offset="1" stop-color="#3CB34B"></stop>
				</linearGradient>
				<linearGradient id="nc-open-ai-3_linear_314_2" x1="38.5" y1="24.5" x2="24.5" y2="20.5" gradientUnits="userSpaceOnUse">
					<stop stop-color="#6AD084"></stop>
					<stop offset="1" stop-color="#3CB34B"></stop>
				</linearGradient>
				<linearGradient id="nc-open-ai-4_linear_314_2" x1="30.5" y1="37" x2="27.5" y2="22.5" gradientUnits="userSpaceOnUse">
					<stop stop-color="#6AD084"></stop>
					<stop offset="1" stop-color="#3CB34B"></stop>
				</linearGradient>
				<linearGradient id="nc-open-ai-5_linear_314_2" x1="16.5" y1="36.5" x2="27.5" y2="26" gradientUnits="userSpaceOnUse">
					<stop stop-color="#6AD084"></stop>
					<stop offset="1" stop-color="#3CB34B"></stop>
				</linearGradient>
			</defs>
		</g>
	</svg>
	{% endset %}
	{{ form.svg('input', {
		label       : "SVG Field",
		placeholder : "Enter HTML Mode to add SVG code.",
		help        : "This is some help for this Total CMS form field.",
		value       : svgValue,
	}) }}


	<h2>Deck</h2>
	<h2>Image</h2>
	<h2>File</h2>
	<h2>Gallery</h2>
	<h2>Depot</h2>
{{ form.end() }}


