{% extends "admin-dashboard.twig" %}

{% set collectionIndex %}
	<h1>Collection Help</h1>
	<p>Choose a collection to edit or create a new one.</p>
{% endset %}


{% macro collectionHeader(collection, page) %}
	{% set collectionData = cms.collection(collection) %}
	<header>
		{% if page %}
		<h1><a href="collections">collections</a> / <a href="collections/{{ collection }}">{{ collection }}</a> / <span>{{ page | lower }}</span></h1>
		{% else %}
		<h1><a href="collections">collections</a> / <a href="collections/{{ collection }}"><span>{{ collection }}</span></a></h1>
		{% endif %}
		<a class="dash-button transparent" href="collections/{{ collection }}/edit" title="Edit Collection">Edit Collection</a>
		{% set labelSingular = cms.collection(collection).labelSingular|default('object') %}
		{% if cms.canAccessCollection(collection, 'POST') %}
		<a class="dash-button" href="collections/{{ collection }}/add" title="Add new {{ labelSingular | lower }} to collection">+ New {{ labelSingular|title }}</a>
		{% endif %}
		<button class="dash-action-dots" title="Collection Actions" popovertarget="collection-actions"></button>
		<nav popover id="collection-actions">
			<ul>
				<li class="schema"><a href="schemas/{{ cms.collection(collection).schema }}">Edit Schema</a></li>
				<li class="export"><a href="collections/{{ collection }}/-export">Export</a></li>
				{% if cms.canAccessCollection(collection, 'POST') %}
				<li class="import"><a href="collections/{{ collection }}/-import">Import</a></li>
				<li class="factory"><a href="collections/{{ collection }}/-factory">Factory</a></li>
				{% endif %}
				<li class="sitemap"><a href="collections/{{ collection }}/-sitemap">Sitemap</a></li>
				<li class="feeds"><a href="collections/{{ collection }}/-feeds">Feeds</a></li>
				{% if cms.canAccessCollection(collection, 'PUT') %}
				<li class="reindex"><a class="cms-quick-action" data-reload data-method="PUT" href="{{ cms.api }}/collections/{{ collection }}/index">Rebuild Index</a></li>
				{% endif %}
			</ul>
		</nav>
	</header>
{% endmacro %}

{% block dashcontent %}

<aside class="dash-content-sidebar">
	<header>
		<input type="search" name="filter" class="filter" placeholder="Filter Collections" autofocus />
	</header>

	<nav class="links" id="collection-links">
		{% for category, collections in cms.collectionsByCategory() %}
			{% set collections = collections | filter(c => cms.canAccessCollection(c.id, 'GET') and c.id not in ['playground', 'mailer']) %}
			{% if collections | length > 0 %}
			<details id="category-{{ category | slug }}" open>
				<summary>{{ category }}</summary>
				<ul>
				{% for collection in sortByKey(collections) %}
					<li class="collection-{{collection.schema}}">
						<a {% if url.collection == collection.id %}class="active"{% endif %}
							href="collections/{{ collection.id }}"
							title="{{ collection.description }}">{{ collection.name }}</a>
					</li>
				{% endfor %}
				</ul>
			</details>
			{% endif %}
		{% endfor %}
	</nav>

	{% if cms.canAccessCollectionsMethod('POST') %}
	<footer>
		<a class="dash-button full transparent" href="collections/new" title="Create a new collection">+ New Collection</a>
	</footer>
	{% endif %}
</aside>
{% include "admin/sidebar-details.twig" %}

<main class="dash-main-content">
	{% set collection = cms.collection(url.collection) %}
	{% set labelPlural = collection.labelPlural|default('objects') %}
	{% set labelSingular = collection.labelSingular|default('object') %}

	{% if url.collection is empty %}
		{% include "admin/collection/home.twig" %}

	{% elseif url.collection == "new" %}
		{% include "admin/collection/new.twig" %}

	{% elseif url.id is empty %}
		{{ _self.collectionHeader(url.collection, labelPlural) }}
		{% include "admin/collection/index.twig" %}

	{% elseif url.id in ["add"] %}
		{{ _self.collectionHeader(url.collection, "new " ~ labelSingular) }}
		{% include "admin/collection/" ~ url.id ~ ".twig" %}

	{% elseif url.id in ["edit"] %}
		{{ _self.collectionHeader(url.collection) }}
		{% include "admin/collection/" ~ url.id ~ ".twig" %}

	{% elseif url.id in ["-factory", "-import", "-export", "-sitemap", "-feeds"] %}
		{% set pageName = url.id | replace({"-":""}) %}
		{{ _self.collectionHeader(url.collection, pageName) }}
		{% include "admin/collection/" ~ pageName ~ ".twig" %}

	{% else %}
		{{ _self.collectionHeader(url.collection, url.id) }}
		{% include "admin/collection/object.twig" %}

	{% endif %}
</main>

<script>
document.addEventListener("keydown", function (event) {
	// Check for Cmd+N (on Mac) or Ctrl+N (on Windows/Linux)
	if ((event.metaKey || event.ctrlKey) && event.key.toLowerCase() === "n") {
		event.preventDefault();
		window.location.href = "collections/{{ url.collection }}/add";
	}
});
</script>

{% endblock %}
