{% extends "admin-layout.twig" %}

{% block title %}{{ cms.config('dashboard', 'title') ?? 'Access Denied' }}{% endblock %}

{% block content %}
<main class="login-layout admin-layout">

	{% set referer = cms.auth.sessionData('requestRefererUrl') ?? cms.config('auth', 'deniedDefaultRedirect') %}

	<section >
		<h1>{{ t('denied.title') }}</h1>
		<p>{{ t('denied.message') }}</p>
		<p><a href="{{ referer }}">{{ t('denied.go_back') }}</a></p>

		{% for message in flash.get('error') %}
			<p class="cms-twig-error" role="alert">
				{{ message }}
			</p>
		{% endfor %}
	</section>

	<meta http-equiv="refresh" content="{{ cms.config('auth', 'deniedTimeout') }};url={{ referer }}">

</main>
{% endblock %}
