{% extends "admin-dashboard.twig" %}

{% block head %}
<link rel="stylesheet" href="{{ cms.api }}/assets/highlight.css?v={{ cms.version }}">
<script type="module" src="{{ cms.api }}/assets/docs-highlight.js?v={{ cms.version }}"></script>
{% endblock %}

{% set menu = [ {
	"title": "Start Here",
	"sub": [
		{ "title": "Getting Started", "path": "getting-started/getting-started" },
		{ "title": "Installation", "path": "getting-started/installation" },
	]
},{
	"title": "Dashboard",
	"sub": [
		{ "title": "Overview", "path": "admin/dashboard" },
		{ "title": "Collection Settings", "path": "admin/collection-settings" },
		{ "title": "Collection Form Settings", "path": "admin/collection-form-settings" },
		{ "title": "Field Options",  "path": "admin/field-options" },
		{ "title": "Form Grid Layout", "path": "admin/formgrid" },
		{ "title": "Schema Validation", "path": "admin/schema-validation" },
		{ "title": "Importing Data", "path": "admin/import" },
		{ "title": "Exporting Data", "path": "admin/export" },
		{ "title": "White Label", "path": "admin/whitelabel" },
	]
},{
	"title": "Fields",
	"sub": [
		{ "title": "Styled Text",      "path": "fields/styled-text" },
		{ "title": "Text Inputs",       "path": "fields/text-inputs" },
		{ "title": "Password",          "path": "fields/password" },
		{ "title": "Textarea",          "path": "fields/textarea" },
		{ "title": "Number & Range",    "path": "fields/number-range" },
		{ "title": "Select & Options",  "path": "fields/select" },
		{ "title": "Radio & Checkbox",  "path": "fields/radio-multicheckbox" },
		{ "title": "Lists",             "path": "fields/lists" },
		{ "title": "Code Editor",       "path": "fields/code-editor" },
		{ "title": "SVG",               "path": "fields/svg" },
		{ "title": "Price",             "path": "fields/price" },
		{ "title": "Date",              "path": "fields/date" },
		{ "title": "Deck",              "path": "fields/deck" },
		{ "title": "Image Validation",  "path": "fields/image-validation" },
		{ "title": "Watermarks",        "path": "fields/watermarks" },
		{ "title": "ID Autogen",        "path": "fields/id-autogen" },
		{ "title": "Hide Field",        "path": "fields/hide" },
		{ "title": "Visibility",        "path": "fields/visibility" },
	]
},{
	"title": "Twig Templates",
	"sub": [
		{ "title": "Overview",             "path": "twig/overview" },
		{ "title": "CMS Content",          "path": "twig/totalcms" },
		{ "title": "CMS Grid Tag",         "path": "twig/cmsgrid-tag" },
		{ "title": "Filters",              "path": "twig/filters" },
		{ "title": "Collection Filtering", "path": "twig/collection-filtering" },
		{ "title": "Object Linking",       "path": "twig/object-linking" },
		{ "title": "Functions",            "path": "twig/functions" },
		{ "title": "Variables",            "path": "twig/variables" },
		{ "title": "Conditionals",         "path": "twig/conditionals" },
		{ "title": "Localization",         "path": "twig/localization" },
		{ "title": "Markdown",             "path": "twig/markdown" },
		{ "title": "Factory",              "path": "twig/factory" },
		{ "title": "QR Codes",             "path": "twig/qrcodes" },
		{ "title": "Bar Codes",            "path": "twig/barcodes" },
		{ "title": "Forms",                "path": "twig/forms" },
	]
},{
	"title": "API",
	"sub": [
		{ "title": "REST API",      "path": "api/rest-api" },
		{ "title": "API Keys",      "path": "api/api-keys" },
		{ "title": "Index Filter",  "path": "api/index-filter" },
		{ "title": "OpenAPI Docs",  "path": "api" },
		{ "title": "PHP API",       "path": "api/php-api" },
		{ "title": "Download",      "path": "api/download" },
		{ "title": "Templates",     "path": "api/templates" },
	]
},{
	"title": "Behind the Scenes",
	"sub": [
		{ "title": "Search",           "path": "advanced/search" },
		{ "title": "JumpStart",        "path": "advanced/jumpstart" },
		{ "title": "Sitemap Builder",  "path": "advanced/sitemap-builder" },
		{ "title": "Migration from v1","path": "advanced/migration-total-cms-one" },
		{ "title": "Security",         "path": "advanced/security" },
		{ "title": "Configuration",    "path": "advanced/configuration" },
		{ "title": "Server Sizing",    "path": "advanced/server-sizing" },
		{ "title": "Deployment",       "path": "advanced/deployment" },
		{ "title": "Authentication",   "path": "advanced/auth" },
		{ "title": "Access Groups",    "path": "advanced/access-groups" },
		{ "title": "Password Reset",   "path": "advanced/password-reset" },
		{ "title": "Filesystem",       "path": "advanced/filesystem" },
		{ "title": "Licenses",         "path": "advanced/licenses" },
		{ "title": "Data Model",       "path": "advanced/data-model" },
	]
}] %}

{% block dashcontent %}

<aside class="dash-content-sidebar">
	<header>
		<input type="search" class="filter" placeholder="Filter Docs" autofocus />
	</header>

	<nav class="links docs">
		{% for item in menu %}
		<details id="category-{{ item.title | slug }}" open>
			<summary>{{ item.title }}</summary>
			<ul>
				{% for sub in item.sub %}
				<li><a {% if page == sub.path %}class="active"{% endif %}
						href="docs/{{ sub.path }}"
						{% if sub.target is defined %}target="{{ sub.target }}"{% endif %}
					>{{ sub.title }}</a></li>
				{% endfor %}
			</ul>
		</details>
		{% endfor %}
	</nav>

	<footer>
	</footer>
</aside>
{% include "admin/sidebar-details.twig" %}

<main class="dash-main-content doc-content">
	{{ content }}
</main>

{% endblock %}
