{% extends "admin-dashboard.twig" %}

{% block head %}
<link rel="stylesheet" href="{{ cms.api }}/assets/highlight.css?v={{ cms.version }}">
<script type="module" src="{{ cms.api }}/assets/docs-highlight.js?v={{ cms.version }}"></script>
{% endblock %}

{% set menu = [ {
	"title": "Start Here",
	"sub": [
		{ "title": "Getting Started", "path": "getting-started" },
		{ "title": "Installation", "path": "installation" },
	]
},{
	"title": "Dashboard",
	"sub": [
		{ "title": "Overview", "path": "admin/dashboard" },
		{ "title": "White Label", "path": "admin/whitelabel" },
	]
},{
	"title": "Collections",
	"sub": [
		{ "title": "Collection Settings", "path": "collections/settings" },
		{ "title": "Form Settings", "path": "collections/form-settings" },
		{ "title": "Pushover Notifications", "path": "notifications/pushover" },
		{ "title": "Form Grid Layout", "path": "collections/formgrid" },
		{ "title": "Importing Data", "path": "collections/import" },
		{ "title": "Exporting Data", "path": "collections/export" },
		{ "title": "Sitemap Builder",  "path": "advanced/sitemap-builder" },
		{ "title": "Data Views",       "path": "collections/data-views" },
	]
},{
	"title": "Property Settings",
	"sub": [
		{ "title": "All Fields",           "path": "property-settings/all-fields" },
		{ "title": "Code",                 "path": "property-settings/code-editor" },
		{ "title": "Date",                 "path": "property-settings/date" },
		{ "title": "Deck",                 "path": "property-settings/deck" },
		{ "title": "File & Depot",         "path": "property-settings/file-depot" },
		{ "title": "ID",                   "path": "property-settings/id" },
		{ "title": "Image & Gallery",      "path": "property-settings/image-gallery" },
		{ "title": "Lists",                "path": "property-settings/lists" },
		{ "title": "Number & Range",       "path": "property-settings/number-range" },
		{ "title": "Password",             "path": "property-settings/password" },
		{ "title": "Price",                "path": "property-settings/price" },
		{ "title": "Radio & Multicheckbox","path": "property-settings/radio-multicheckbox" },
		{ "title": "Select",               "path": "property-settings/select" },
		{ "title": "Styled Text",          "path": "property-settings/styled-text" },
		{ "title": "SVG",                  "path": "property-settings/svg" },
		{ "title": "Text & Textarea",      "path": "property-settings/text-inputs" },
	]
},{
	"title": "Property Options",
	"sub": [
		{ "title": "Static Options",     	"path": "property-options/static-options" },
		{ "title": "Property Options",   	"path": "property-options/property-options" },
		{ "title": "Relational Options", 	"path": "property-options/relational-options" },
		{ "title": "Sorting Options",    	"path": "property-options/sorting-options" },
		{ "title": "Access Group Options", "path": "property-options/access-group-options" },
	]
},{
	"title": "Schemas",
	"sub": [
		{ "title": "Schema Validation", "path": "schemas/validation" },
	]
},{
	"title": "Twig Language",
	"sub": [
		{ "title": "Overview",             "path": "twig/overview" },
		{ "title": "Filters",              "path": "twig/filters" },
		{ "title": "Functions",            "path": "twig/functions" },
		{ "title": "Variables",            "path": "twig/variables" },
		{ "title": "Conditionals",         "path": "twig/conditionals" },
		{ "title": "Markdown",             "path": "twig/markdown" },
		{ "title": "Factory",              "path": "twig/factory" },
		{ "title": "Templates",            "path": "twig/templates" },
	]
},{
	"title": "CMS Content",
	"sub": [
		{ "title": "CMS Content",          "path": "twig/totalcms" },
		{ "title": "Collections",          "path": "twig/collections" },
		{ "title": "Collection Filtering", "path": "twig/collection-filtering" },
		{ "title": "Data",                 "path": "twig/data" },
		{ "title": "Media",                "path": "twig/media" },
		{ "title": "ImageWorks",           "path": "twig/imageworks" },
		{ "title": "Render",               "path": "twig/render" },
		{ "title": "CMS Grid Tag",         "path": "twig/cmsgrid-tag" },
		{ "title": "Load More",            "path": "twig/load-more" },
		{ "title": "Object Linking",       "path": "twig/object-linking" },
		{ "title": "Locale",               "path": "twig/locale" },
		{ "title": "Localization",         "path": "twig/localization" },
		{ "title": "Views",                "path": "twig/views" },
		{ "title": "QR Codes",             "path": "twig/qrcodes" },
		{ "title": "Bar Codes",            "path": "twig/barcodes" },
		{ "title": "Utilities",            "path": "twig/utils" },
	]
},{
	"title": "CMS Admin",
	"sub": [
		{ "title": "Admin",                "path": "twig/admin" },
		{ "title": "Auth",                 "path": "twig/auth" },
		{ "title": "Edition",              "path": "twig/edition" },
		{ "title": "Schemas",              "path": "twig/schemas" },
		{ "title": "Forms Overview",       "path": "twig/forms/overview" },
		{ "title": "Form Builder",         "path": "twig/forms/builder" },
		{ "title": "Deck Forms",           "path": "twig/forms/deck" },
		{ "title": "Form Options",         "path": "twig/forms/options" },
		{ "title": "Field Settings",       "path": "twig/forms/fields" },
		{ "title": "Select & List Options","path": "twig/forms/select-options" },
		{ "title": "Validation Patterns",  "path": "twig/forms/patterns" },
		{ "title": "Report Form",          "path": "twig/forms/report" },
		{ "title": "Specialized Forms",    "path": "twig/forms/specialized" },
	]
},{
	"title": "Authentication",
	"sub": [
		{ "title": "Authentication",   "path": "auth/auth" },
		{ "title": "Access Groups",    "path": "auth/access-groups" },
		{ "title": "Password Reset",   "path": "auth/password-reset" },
	]
},{
	"title": "API",
	"sub": [
		{ "title": "REST API",      "path": "api/rest-api" },
		{ "title": "API Keys",      "path": "api/api-keys" },
		{ "title": "Index Filter",  "path": "api/index-filter" },
		{ "title": "OpenAPI Docs",  "path": "api/openapi" },
		{ "title": "PHP API",       "path": "api/php-api" },
		{ "title": "Download",      "path": "api/download" },
	]
},{
	"title": "Behind the Scenes",
	"sub": [
		{ "title": "AI Integration",   "path": "advanced/ai-integration" },
		{ "title": "Configuration",    "path": "advanced/configuration" },
		{ "title": "Data Model",       "path": "advanced/data-model" },
		{ "title": "Deployment",       "path": "advanced/deployment" },
		{ "title": "Filesystem",       "path": "advanced/filesystem" },
		{ "title": "JumpStart",        "path": "advanced/jumpstart" },
		{ "title": "Licenses",         "path": "advanced/licenses" },
		{ "title": "Migration from v1","path": "advanced/migration-total-cms-one" },
		{ "title": "Nginx",            "path": "advanced/nginx" },
		{ "title": "Search",           "path": "advanced/search" },
		{ "title": "Security",         "path": "advanced/security" },
		{ "title": "Server Sizing",    "path": "advanced/server-sizing" },
	]
}] %}

{% block dashcontent %}

<aside class="dash-content-sidebar">
	<header>
		<input type="search" class="filter" placeholder="{{ t('docs.filter') }}" />
	</header>

	<nav class="links docs">
		{% for item in menu %}
		<details id="category-{{ item.title | slug }}"{% if page in item.sub|column('path') %} open{% endif %}>
			<summary>{{ item.title }}</summary>
			<ul>
				{% for sub in item.sub %}
				<li><a {% if page == sub.path %}class="active"{% endif %}
						href="docs/{{ sub.path }}"
						{% if sub.target is defined %}target="{{ sub.target }}"{% endif %}
					>{{ sub.title }}</a></li>
				{% endfor %}
			</ul>
		</details>
		{% endfor %}
	</nav>

	<footer>
	</footer>
	<script>document.querySelector('.docs a.active')?.scrollIntoView({ block: 'center' });</script>
</aside>
{% include "admin/sidebar-details.twig" %}

<main class="dash-main-content doc-content">
	{{ content }}
</main>

{% endblock %}
