{% extends "admin-dashboard.twig" %}

{% block head %}
<link rel="stylesheet" href="{{ cms.api }}/assets/highlight.css?v={{ cms.version }}">
<script type="module" src="{{ cms.api }}/assets/docs-highlight.js?v={{ cms.version }}"></script>
{% endblock %}

{% set menu = [ {
	"title": "Start Here",
	"sub": [
		{ "title": "Getting Started", "path": "getting-started" },
		{ "title": "Installation", "path": "installation" },
	]
},{
	"title": "Dashboard",
	"sub": [
		{ "title": "Overview", "path": "dashboard" },
		{ "title": "Field Settings", "path": "field-settings" },
		{ "title": "Field Options",  "path": "field-options" },
		{ "title": "Form Grid Layout", "path": "formgrid" },
		{ "title": "Schema Validation", "path": "schema-validation" },
		{ "title": "Importing Data", "path": "import" },
		{ "title": "Exporting Data", "path": "export" },
		{ "title": "White Label", "path": "whitelabel" },
	]
},{
	"title": "Twig Templates",
	"sub": [
		{ "title": "Overview", 			"path": "twig-overview" },
		{ "title": "CMS Content",       "path": "twig-totalcms" },
		{ "title": "CMS Grid Tag",      "path": "cmsgrid-tag" },
		{ "title": "Filters", 			"path": "twig-filters" },
		{ "title": "Collection Filtering", "path": "collection-filtering" },
		{ "title": "Object Linking",    "path": "object-linking" },
		{ "title": "Functions", 		"path": "twig-functions" },
		{ "title": "Variables", 		"path": "twig-variables" },
		{ "title": "Localization", 		"path": "twig-localization" },
		{ "title": "Markdown", 			"path": "twig-markdown" },
		{ "title": "Factory", 			"path": "twig-factory" },
		{ "title": "QR Codes", 			"path": "twig-qrcodes" },
		{ "title": "Bar Codes", 		"path": "twig-barcodes" },
		{ "title": "Forms",    			"path": "twig-forms" },
	]
},{
	"title": "API",
	"sub": [
		{ "title": "REST API", 		"path": "rest-api" },
		{ "title": "API Keys", 		"path": "api-keys" },
		{ "title": "Index Filter", 	"path": "index-filter" },
		{ "title": "OpenAPI Docs", 	"path": "api", },
		{ "title": "PHP API", 		"path": "php-api" },
		{ "title": "Download", 		"path": "download" },
		{ "title": "Templates",    	"path": "templates" },
	]
},{
	"title": "Behind the Scenes",
	"sub": [
		{ "title": "Search",        "path": "search" },
		{ "title": "JumpStart",     "path": "jumpstart" },
		{ "title": "Sitemap Builder", "path": "sitemap-builder" },
		{ "title": "Migration from v1", "path": "migration-total-cms-one" },
		{ "title": "Security",      "path": "security" },
		{ "title": "Configuration", "path": "configuration" },
		{ "title": "Deployment",    "path": "deployment" },
		{ "title": "Authentication","path": "auth" },
		{ "title": "Password Reset","path": "password-reset" },
		{ "title": "Filesystem", 	"path": "filesystem" },
		{ "title": "Licenses", 		"path": "licenses" },
		{ "title": "Data Model", 	"path": "data-model" },
	]
}] %}

{% block dashcontent %}

<aside class="dash-content-sidebar">
	<header>
		<input type="search" class="filter" placeholder="Filter Docs" autofocus />
	</header>

	<nav class="links docs">
		{% for item in menu %}
		<details id="category-{{ item.title | slug }}" open>
			<summary>{{ item.title }}</summary>
			<ul>
				{% for sub in item.sub %}
				<li><a {% if page == sub.path %}class="active"{% endif %}
						href="docs/{{ sub.path }}"
						{% if sub.target is defined %}target="{{ sub.target }}"{% endif %}
					>{{ sub.title }}</a></li>
				{% endfor %}
			</ul>
		</details>
		{% endfor %}
	</nav>

	<footer>
	</footer>
</aside>
{% include "admin/sidebar-details.twig" %}

<main class="dash-main-content doc-content">
	{{ content }}
</main>

{% endblock %}
