{% extends "admin-layout.twig" %}

{% block title %}Download Authentication{% endblock %}

{% block content %}
<main class="login-layout admin-layout">

	<section class="download-auth-above">
		{% if cms.edition.can('whitelabel_templates') %}
			{{ include('whitelabel/download-auth-above.twig', ignore_missing = true) }}
		{% endif %}
	</section>

	{# TODO: Refactor to use cms.form.downloadAuthForm() method for consistency #}
	{% set formOptions = downloadAuthFormOptions | default({}) %}
	<section class="login-form">
		<form class="totalform" method="post" data-disabled="true">
			<div class="form-field password-field" data-type="password">
				<label for="field-66e386299dfa7">{{ formOptions.passwordLabel | default('Password') }}</label>
				<div class="form-group">
					<input type="password" id="field-66e386299dfa7" name="password" placeholder="p@ssw0rd" aria-describedby="help-66e386299dfa7" required>
					<div class="form-group-icon"></div>
				</div>
				<p class="cms-hide help" id="help-66e386299dfa7">Password to login</p>
			</div>

			<button class="dash-button" type="submit">{{ formOptions.submitLabel | default('Download') }}</button>
			{% for message in flash.get('error') %}
				<p class="cms-twig-error" role="alert">
					{{ message }}
				</p>
			{% endfor %}
		</form>
	</section>

	<section class="download-auth-below">
		{% if cms.edition.can('whitelabel_templates') %}
			{{ include('whitelabel/download-auth-below.twig', ignore_missing = true) }}
		{% endif %}
	</section>

</main>
{% endblock %}
