{% extends "admin-layout.twig" %}

{% block head %}
	<link rel="stylesheet" href="{{ cms.api }}/assets/filelinks.css"/>
{% endblock %}

{% block content %}

	{% set id         = getData.id  %}
	{% set collection = getData.collection | default("file") %}
	{% set property   = getData.property | default("file") %}
	{% set filename   = getData.name %}
	{% set path       = getData.path %}
	{% set password   = postData.password %}

	{% if password is not empty and not cms.auth.verifyFilePassword(password, collection, id, property, filename) %}
		{{ flash.add('error', 'Password is incorrect') }}
		{% set password = "" %}
	{% endif %}

	{% if password is not empty %}
		{% set password = password | encrypt | urlencode %}
	{% endif %}

	<main class="admin-layout container">

		<h1>{{ t('filelinks.title') }}</h1>

		<section>
			<h4>{{ t('filelinks.download_link') }}</h4>
			{% if password %}
				<pre id="link-url">{{cms.api}}/download/{{collection}}/{{id}}/{{property}}{% if filename %}/{{filename | urlencode}}{% endif %}?{% if path %}path={{path | urlencode}}&{% endif %}pwd={{password}}</pre>
			{% else %}
				<pre id="link-url">{{cms.api}}/download/{{collection}}/{{id}}/{{property}}{% if filename %}/{{filename | urlencode}}{% if path %}?path={{path | urlencode}}{% endif %}{% endif %}</pre>
			{% endif %}
			<button type="button" class="cms-clip-button" data-clip="#link-url">{{ t('btn.copy_link') }}</button>
		</section>

		<section>
			<h4>{{ t('filelinks.download_macro') }}</h4>
			{% if filename %}
				{% if collection == "depot" and property == "depot" %}
					{% if password %}
						<pre data-pwd="{{password}}" id="download-macro">&#123;&#123; cms.media.depotDownload('{{id}}', '{{filename}}', { {% if path %}path: '{{path}}', {% endif %}pwd: '{{password | urldecode}}'}) &#125;&#125;</pre>
					{% else %}
						<pre id="download-macro">&#123;&#123; cms.media.depotDownload('{{id}}', '{{filename}}'{% if path %},{path: '{{path}}'}{% endif %}) &#125;&#125;</pre>
					{% endif %}
				{% else %}
					{% if password %}
						<pre data-pwd="{{password}}" id="download-macro">&#123;&#123; cms.media.depotDownload('{{id}}', '{{filename}}', {pwd: '{{password | urldecode}}',{% if path %} path: '{{path}}',{% endif %} collection: '{{collection}}', property: '{{property}}'}) &#125;&#125;</pre>
					{% else %}
						<pre id="download-macro">&#123;&#123; cms.media.depotDownload('{{id}}', '{{filename}}', { {% if path %}path: '{{path}}', {% endif %}collection: '{{collection}}', property: '{{property}}'}) &#125;&#125;</pre>
					{% endif %}
				{% endif %}
			{% else %}
				{% if collection == "file" and property == "file" %}
					{% if password %}
						<pre data-pwd="{{password}}" id="download-macro">&#123;&#123; cms.media.download('{{id}}', {pwd: '{{password | urldecode}}'}) &#125;&#125;</pre>
					{% else %}
						<pre id="download-macro">&#123;&#123; cms.media.download('{{id}}') &#125;&#125;</pre>
					{% endif %}
				{% else %}
					{% if password %}
						<pre data-pwd="{{password}}" id="download-macro">&#123;&#123; cms.media.download('{{id}}', {pwd: '{{password | urldecode}}', collection: '{{collection}}', property: '{{property}}'}) &#125;&#125;</pre>
					{% else %}
						<pre id="download-macro">&#123;&#123; cms.media.download('{{id}}', {collection: '{{collection}}', property: '{{property}}'}) &#125;&#125;</pre>
					{% endif %}
				{% endif %}
			{% endif %}
			<button type="button" class="cms-clip-button" data-clip="#download-macro">{{ t('btn.copy_macro') }}</button>
		</section>

		<section>
			<h4>{{ t('filelinks.stream_url') }}</h4>
			{% if password %}
				<pre id="stream-url">{{cms.api}}/stream/{{collection}}/{{id}}/{{property}}{% if filename %}/{{filename | urlencode}}{% endif %}?{% if path %}path={{path | urlencode}}&{% endif %}pwd={{password}}</pre>
			{% else %}
				<pre id="stream-url">{{cms.api}}/stream/{{collection}}/{{id}}/{{property}}{% if filename %}/{{filename | urlencode}}{% if path %}?path={{path | urlencode}}{% endif %}{% endif %}</pre>
			{% endif %}
			<button type="button" class="cms-clip-button" data-clip="#stream-url">{{ t('btn.copy_link') }}</button>
		</section>

		<section>
			<h4>{{ t('filelinks.stream_macro') }}</h4>
			{% if filename %}
				{% if collection == "depot" and property == "depot" %}
					{% if password %}
						<pre data-pwd="{{password}}" id="stream-macro">&#123;&#123; cms.media.depotStream('{{id}}', '{{filename}}', { {% if path %}path: '{{path}}', {% endif %}pwd: '{{password | urldecode}}'}) &#125;&#125;</pre>
					{% else %}
						<pre id="stream-macro">&#123;&#123; cms.media.depotStream('{{id}}', '{{filename}}'{% if path %}, {path: '{{path}}'}{% endif %}) &#125;&#125;</pre>
					{% endif %}
				{% else %}
					{% if password %}
						<pre data-pwd="{{password}}" id="stream-macro">&#123;&#123; cms.media.depotStream('{{id}}', '{{filename}}', {pwd: '{{password | urldecode}}',{% if path %} path: '{{path}}',{% endif %} collection: '{{collection}}', property: '{{property}}'}) &#125;&#125;</pre>
					{% else %}
						<pre id="stream-macro">&#123;&#123; cms.media.depotStream('{{id}}', '{{filename}}', { {% if path %}path: '{{path}}', {% endif %}collection: '{{collection}}', property: '{{property}}'}) &#125;&#125;</pre>
					{% endif %}
				{% endif %}
			{% else %}
				{% if collection == "file" and property == "file" %}
					{% if password %}
						<pre data-pwd="{{password}}" id="stream-macro">&#123;&#123; cms.media.stream('{{id}}', {pwd: '{{password | urldecode}}'}) &#125;&#125;</pre>
					{% else %}
						<pre id="stream-macro">&#123;&#123; cms.media.stream('{{id}}') &#125;&#125;</pre>
					{% endif %}
				{% else %}
					{% if password %}
						<pre data-pwd="{{password}}" id="stream-macro">&#123;&#123; cms.media.stream('{{id}}', {pwd: '{{password | urldecode}}', collection: '{{collection}}', property: '{{property}}'}) &#125;&#125;</pre>
					{% else %}
						<pre id="stream-macro">&#123;&#123; cms.media.stream('{{id}}', {collection: '{{collection}}', property: '{{property}}'}) &#125;&#125;</pre>
					{% endif %}
				{% endif %}
			{% endif %}
			<button type="button" class="cms-clip-button" data-clip="#stream-macro">{{ t('btn.copy_macro') }}</button>
		</section>

		<form class="totalform" method="post" data-disabled="true">
			<div class="form-field password-field" data-type="password">
				<label for="field-66e386299dfa7">{{ t('label.password') }}</label>
				<div class="form-group">
					<input autofocus type="password" id="field-66e386299dfa7" name="password" placeholder="p@ssw0rd" aria-describedby="help-66e386299dfa7" required>
					<div class="form-group-icon"></div>
				</div>
				<p class="help" id="help-66e386299dfa7">{{ t('filelinks.password_help') }}</p>
			</div>

			<button class="dash-button" type="submit">{{ t('filelinks.set_password') }}</button>
			{% for message in flash.get('error') %}
				<p class="cms-twig-error" role="alert">
					{{ message }}
				</p>
			{% endfor %}
		</form>

	</main>
{% endblock %}

{% block bodyBelow %}
	<script type="module" src="{{ cms.api }}/assets/filelinks.js"></script>
{% endblock %}