{% extends "admin-layout.twig" %}

{% block title %}Reset Password - Total CMS{% endblock %}

{% block content %}
<main class="login-layout admin-layout">

	<section class="login-above">
		{{ include(cms.edition.can('whitelabel_templates')
			? ['whitelabel/reset-password-above.twig', 'reset-password-above.twig', 'reset-password-above-default.twig']
			: cms.edition.can('templates')
			? ['reset-password-above.twig', 'reset-password-above-default.twig']
			: ['reset-password-above-default.twig']
		, ignore_missing = true) }}
	</section>

	{% set formOptions = {} %}
	{% if cms.edition.can('templates') %}
		{% set json = include(cms.edition.can('whitelabel_templates')
			? ['whitelabel/reset-password-options.twig', 'reset-password-options.twig']
			: ['reset-password-options.twig']
		, ignore_missing = true) %}
		{% set decoded = (json|trim|length ? json_decode(json, true) : {}) %}
		{% set formOptions = formOptions|merge(decoded) %}
	{% endif %}

	{# TODO: Refactor to use cms.form.resetPasswordForm() method for consistency #}
	<section class="login-form">
		{% set action = cms.api ~ '/reset-password/' ~ token %}

		<form class="totalform" method="post" action="{{ action }}" data-disabled="true">
			{{ csrf_field() }}

			<input type="hidden" name="token" value="{{ token }}">

			<div class="form-field password-field" data-type="password">
				<label for="field-password">{{ formOptions.passwordLabel | default('New Password') }}</label>
				<div class="form-group">
					<input type="password"
						   id="field-password"
						   name="password"
						   placeholder="Enter new password"
						   aria-describedby="help-password"
						   required
						   autofocus
						   minlength="4">
					<div class="form-group-icon"></div>
				</div>
				<p class="help cms-hide" id="help-password">Password must be at least 4 characters</p>
			</div>

			<div class="form-field password-field" data-type="password">
				<label for="field-password-confirm">{{ formOptions.confirmPasswordLabel | default('Confirm Password') }}</label>
				<div class="form-group">
					<input type="password"
						   id="field-password-confirm"
						   name="password_confirm"
						   placeholder="Re-enter new password"
						   aria-describedby="help-password-confirm"
						   required
						   minlength="4"
						   class="allow-enter">
					<div class="form-group-icon"></div>
				</div>
				<p class="help cms-hide" id="help-password-confirm">Must match the password above</p>
			</div>

			<button class="dash-button" type="submit">{{ formOptions.submitLabel | default('Reset Password') }}</button>

		</form>

		{% for message in flash.get('error') %}
			<p class="cms-twig-error" role="alert">
				{{ message }}
			</p>
		{% endfor %}
	</section>

	<section class="login-below">
		{% if cms.edition.can('templates') %}
			{{ include('whitelabel/reset-password-below.twig', ignore_missing = true) }}
		{% endif %}
	</section>
</main>
{% endblock %}
