{% extends "admin-layout.twig" %}

{% block title %}Reset Password - Total CMS{% endblock %}

{% block content %}
<main class="login-layout admin-layout">

	<section class="login-above">
		{{ include([
			'whitelabel/reset-password-above.twig',
			'reset-password-above-default.twig'
		], ignore_missing = true) }}
	</section>

	<section class="login-form">
		{% set action = cms.api ~ '/reset-password/' ~ token %}

		<form class="totalform" method="post" action="{{ action }}" data-disabled="true">
			{{ csrf_field() }}

			<input type="hidden" name="token" value="{{ token }}">

			<div class="form-field password-field" data-type="password">
				<label for="field-password">New Password</label>
				<div class="form-group">
					<input type="password"
						   id="field-password"
						   name="password"
						   placeholder="Enter new password"
						   aria-describedby="help-password"
						   required
						   autofocus
						   minlength="4">
					<div class="form-group-icon"></div>
				</div>
				<p class="help cms-hide" id="help-password">Password must be at least 4 characters</p>
			</div>

			<div class="form-field password-field" data-type="password">
				<label for="field-password-confirm">Confirm Password</label>
				<div class="form-group">
					<input type="password"
						   id="field-password-confirm"
						   name="password_confirm"
						   placeholder="Re-enter new password"
						   aria-describedby="help-password-confirm"
						   required
						   minlength="4"
						   class="allow-enter">
					<div class="form-group-icon"></div>
				</div>
				<p class="help cms-hide" id="help-password-confirm">Must match the password above</p>
			</div>

			<button class="dash-button" type="submit">Reset Password</button>

			{% for message in flash.get('error') %}
				<p class="cms-twig-error" role="alert">
					{{ message }}
				</p>
			{% endfor %}
		</form>
	</section>

	<section class="login-below">
		{{ include('whitelabel/reset-password-below.twig', ignore_missing = true) }}
	</section>
</main>
{% endblock %}
