{% extends "admin-dashboard.twig" %}

{% block dashcontent %}

<aside class="dash-content-sidebar">
	<header>
		<input type="search" name="filter" class="filter" placeholder="Filter Schemas" autofocus />
	</header>

	<nav class="links" id="schema-links">
		{% for category, schemas in cms.schemasByCategory() %}
			{% set schemas = schemas | filter(s => cms.canAccessSchema(s.id, 'read')) %}
			{% if schemas | length > 0 %}
			<details id="category-{{ category | slug }}" open>
				<summary>{{ category }}</summary>
				<ul>
				{% for schema in sortByKey(schemas) %}
					<li class="schema-{{schema.id}}">
						<a {% if url.schema == schema.id %}class="active"{% endif %}
							href="schemas/{{ schema.id }}"
							title="{{ schema.description }}">{{ schema.id }}</a>
					</li>
				{% endfor %}
				</ul>
			</details>
			{% endif %}
		{% endfor %}
	</nav>

	{% if cms.canAccessSchemasOperation('create') %}
	<footer>
		<a class="dash-button full transparent" href="schemas/new" title="Create a new schema">+ New Schema</a>
	</footer>
	{% endif %}
</aside>
{% include "admin/sidebar-details.twig" %}

<main class="dash-main-content">
	{% if url.schema is empty %}

		{% include "admin/schema/home.twig" %}

	{% else %}
		{% if url.schema == "new" %}

			{% include "admin/schema/new.twig" %}

		{% elseif url.schema == "-import" %}

			{% include "admin/schema/import.twig" %}

		{% elseif url.action in ["-export"] %}

			{% set pageName = url.action | replace({"-":""}) %}
			{% include "admin/schema/" ~ pageName ~ ".twig" %}

		{% else %}

			{% include "admin/schema/edit.twig" %}

		{% endif %}
	{% endif %}
</main>

{% endblock %}


