{% extends "admin-dashboard.twig" %}

{% set sections = {
	'installation': {
		'label': 'Installation',
		'description': 'Bootstrap and installation configuration'
	},
	'general': {
		'label': 'General',
		'description': 'Core application settings'
	},
	'auth': {
		'label': 'Authentication',
		'description': 'User authentication settings'
	},
	'cache': {
		'label': 'Cache',
		'description': 'Cache backend configuration'
	},
	'dashboard': {
		'label': 'Dashboard',
		'description': 'Admin dashboard configuration'
	},
	'htmlclean': {
		'label': 'HTML Sanitization',
		'description': 'HTML cleaning and sanitization'
	},
	'imageworks': {
		'label': 'ImageWorks',
		'description': 'Image processing and watermarks'
	},
	'mailer': {
		'label': 'Mailer',
		'description': 'Email sending and rate limiting'
	},
	'smtp': {
		'label': 'SMTP',
		'description': 'Email server configuration'
	},
} %}

{% block dashcontent %}

<aside class="dash-content-sidebar">
	<header>
		<input type="search" name="filter" class="filter" placeholder="Filter Settings" autofocus />
	</header>

	<nav class="links" id="settings-links">
		<ul>
			{% for sectionId, section in sections %}
			<li class="settings-{{ sectionId }}">
				<a {% if url.section == sectionId %}class="active"{% endif %}
					href="settings/{{ sectionId }}"
					title="{{ section.description }}">{{ section.label }}</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
</aside>

<main class="dash-main-content">
	<header>
		<h1><a href="settings">settings</a> / <span>{{ sections[currentSection].label | lower }}</span></h1>
	</header>

	<section class="dash-content-section">
		{% if sections[currentSection].description %}
		<p>{{ sections[currentSection].description }}</p>
		{% endif %}

		{{ cms.form.settings(currentSection) }}
	</section>
</main>

{% endblock %}
