{% extends "admin-dashboard.twig" %}

{% block dashcontent %}

<aside class="dash-content-sidebar">
	<header>
		<input type="search" name="filter" class="filter" placeholder="Filter Templates" autofocus />
	</header>

	<nav class="links" id="template-links">
		{% for folder, templates in cms.templatesByFolder() %}
		<details id="category-{{ folder | slug }}" open>
			<summary>{{ folder }}</summary>
			<ul>
			{% for template in templates %}
				<li class="template-{{template.path}}">
					<a {% if url.template == template.path %}class="active"{% endif %}
						href="templates/{{ template.path }}"
						title="{{ template.id }}">{{ template.id }}</a>
				</li>
			{% endfor %}
			</ul>
		</details>
		{% endfor %}
	</nav>

	{% if cms.canAccessTemplatesMethod('POST') %}
	<footer>
		<a class="dash-button full transparent" href="templates/new" title="Create a new template">+ New Template</a>
	</footer>
	{% endif %}
</aside>
{% include "admin/sidebar-details.twig" %}

<main class="dash-main-content">
	{% if url.template is empty %}

		{% include "admin/template/home.twig" %}

	{% else %}
		{% if url.template == "new" %}

			{% include "admin/template/new.twig" %}

		{% else %}

			{% include "admin/template/edit.twig" %}

		{% endif %}
	{% endif %}
</main>

{% endblock %}

