<h1>{{ t('template.help_title') }}</h1>

<section class="dash-content-section">
	<section>
	<h2>{{ t('template.what_is') }}</h2>
	<p>{{ t('template.what_is_desc') }}</p>
	</section>

	<section>
	<h2>{{ t('template.whitelabel_title') }}</h2>
	<p>
	{{ t('template.whitelabel_desc') }}
	<a href="docs/whitelabel">{{ t('template.whitelabel_link') }}</a>
	{{ t('template.whitelabel_desc_end') }}
	</p>
	</section>

	<section>
	<h2>{{ t('template.custom_title') }}</h2>
	<p>{{ t('template.custom_desc') }}</p>
	</section>

	<section>
	<h2>{{ t('template.organization_title') }}</h2>
	<p>{{ t('template.organization_desc') }}</p>
	</section>
</section>
