{# Generic Grid Item Template #}
{% if object.image %}
    <div class="cms-image">
        {{ cms.render.image(object, {w: 600, h: 400, fit: 'crop-focalpoint'}, {collection: collection|default(""), property: 'image'}) }}
    </div>
{% endif %}

<div class="cms-content">
    <h3 class="cms-title">{{ object.title | default(object.name) }}</h3>

    {% if object.date %}
        {{ cms.render.grid.meta(cms.render.grid.date(object.date, 'relative')) }}
    {% elseif object.created %}
        {{ cms.render.grid.meta(cms.render.grid.date(object.created, 'relative')) }}
    {% endif %}

    {% if object.summary %}
        {{ cms.render.grid.excerpt(object.summary, 150) }}
    {% elseif object.content %}
        {{ cms.render.grid.excerpt(object.content, 150) }}
    {% elseif object.description %}
        {{ cms.render.grid.excerpt(object.description, 150) }}
    {% endif %}

    {% if object.tags %}
        {{ cms.render.grid.tags(object.tags) }}
    {% endif %}
</div>