<h1>{{ t('utils.title') }}</h1>

<section class="dash-content-section">
	<p>{{ t('utils.desc') }}</p>

	<ul>
		<li><strong>{{ t('utils.project_setup') }}</strong>: {{ t('utils.project_setup_desc') }}</li>
		<li><strong>{{ t('utils.cache_cleaner') }}</strong>: {{ t('utils.cache_cleaner_desc') }}</li>
		<li><strong>{{ t('utils.image_batcher') }}</strong>: {{ t('utils.image_batcher_desc') }}</li>
		<li><strong>{{ t('utils.jobqueue') }}</strong>: {{ t('utils.jobqueue_desc') }}</li>
		<li><strong>{{ t('utils.log_analyzer') }}</strong>: {{ t('utils.log_analyzer_desc') }}</li>
		<li><strong>{{ t('utils.pretty_url') }}</strong>: {{ t('utils.pretty_url_desc') }}</li>
		<li><strong>{{ t('utils.server_checker') }}</strong>: {{ t('utils.server_checker_desc') }}</li>
		<li><strong>{{ t('utils.twig_playground') }}</strong>: {{ t('utils.twig_playground_desc') }}</li>
	</ul>
</section>

