<h1>{{ t('jumpstart.title') }}</h1>

{% set exportapi = cms.api ~ "/export/jumpstart" %}

<section style="display:grid;align-content:start;gap:3rem">

	<div>
		<p>{{ t('jumpstart.desc') }} See the
		<a href="docs/jumpstart">{{ t('jumpstart.docs_link') }}</a> for more information.</p>

		<p>You can also download the <a href="{{ exportapi ~ '/demo' }}" download>{{ t('jumpstart.demo_title') }}</a>
		to see the structure and format of the JumpStart data.</p>
	</div>

	<div>
		<h3>{{ t('jumpstart.export_title') }}</h3>
		<p>{{ t('jumpstart.export_desc') }}</p>
		<p><a href="{{ exportapi }}" class="dash-button" download target="_blank">{{ t('jumpstart.export_title') }}</a></p>
	</div>

	<div>
		<h3>{{ t('jumpstart.import_title') }}</h3>
		<p>{{ t('jumpstart.import_desc') }}
		If there are any errors, you can see the details
		in the <strong>{{ t('jumpstart.logs_link') }}</strong> in the <a href="utils/logs">{{ t('logs.title') }}</a>.</p>
		{{ cms.form.importJumpStart() }}
	</div>

</section>


<style>
.import-form { margin-top: 1rem; }
</style>