<h1>Pretty URL Builder</h1>

<section class="dash-content-section">

	<p>Configure pretty URLs for your collection objects. Choose your collection and the full path
	to the object webpage below.</p>

	<form id="pretty-url-builder"
		class="totalform"
		action="{{ cms.api }}/admin/utils/pretty-url-builder"
		method="POST"
		data-disabled>
		<div>
			<label for="collection">Collection</label>
			<select name="collection" id="collection">
				<option value="">Select a Collection</option>
				{% for collection in sortByKey(cms.collections(), "id") %}
					<option value="{{ collection.id }}"
						{% if postData.collection == collection.id %}selected{% endif %}>
						{{ collection.name }}
					</option>
				{% endfor %}
			</select>
			<label for="path" style="margin-top:1rem">Path to Object Webpage</label>
			<input type="text" name="path" value="{{ postData.path }}" placeholder="/path-to-object/page.php"/>
		</div>
		<button class="cms-button" type="submit">Generate Server Rules</button>
	</form>

	{% if postData.path %}

		{% if str_ends_with(postData.path, 'php') %}
			<div class="doc-content pretty-url-results">
				{% set collectionData = cms.collection(postData.collection) %}

				<h2>Pretty URLs Rules for {{ collectionData.name }}</h2>

				<section>
				<h3>Save this URL to the {{ collectionData.name }} Collection</h3>
				<p>Edit the collection and save the following as the URL and ensure the <code>Pretty URL</code>
				checkbox is enabled.
				<a href="/admin/collections/{{ postData.collection }}/edit" target="_blank">Edit Now ↗</a></p>
				<pre></code>{{ cms.prettyUrl(postData.path) }}</code></pre>
				</section>

				<section>
				<h3>Rule for Apache</h3>
				<p>Place this in your .htaccess file. If you already have enabled <code>RewriteEngine</code>
				in your file, you do not need to include that line again.</p>
				<pre></code>{{ cms.apacheRule(postData.path, collectionData.name) }}</code></pre>
				</section>

				<section>
				<h3>Rule for NGINX</h3>
				<p>Place this in your server config file.</p>
				<pre></code>{{ cms.nginxRule(postData.path, collectionData.name) }}</code></pre>
				</section>

			</div>
		{% else %}
			<p class="error">Invalid path provided. <strong>{{ postData.path }}</strong> must be
			the full path or url to the php webpage.</p>
		{% endif %}

	{% endif %}


</section>